[2018-10-24 11:00] sandesh-desai commented on #371
Verified and closed.
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2510175/Docker.output.txt)
[Hpe.conf.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2510176/Hpe.conf.txt)

Attaching the output.

[2018-10-24 11:00] #371 closed

[2018-10-25 08:29] sandesh-desai opened #385 "CHO: Run for 12hrs with old script. Failed with 755 errors."
CHO: Run 12hrs with old script. Failed with 755 errors.
[2018-10-24][17:11:45][A:473,E:755] Test observed  115 create volume errors.
[2018-10-24][17:11:45][A:473,E:755] Test observed  133 delete volume errors.
[2018-10-24][17:11:45][A:473,E:755] Test observed  125 mount volume errors.
[2018-10-24][17:11:45][A:473,E:755] Test observed  0 unmount volume errors.
[2018-10-24][17:11:45][A:473,E:755] Te

[2018-10-25 08:46] farhan7500 commented on #234
Should I access these through a jump machine? What are the credentials of jump machine and the nodes?

[2018-10-25 08:51] wdurairaj commented on #385
[code]
Attached is the complete CHO run output for 12 hrs. Please file issue with appropriate details.

[2018-10-25 09:18] farhan7500 commented on #234
Got my answer from William for:

Which plugin container should I use to reproduce the issue?

[2018-10-25 10:09] sandesh-desai commented on #339
Installed py-3parencryptor-successfully.
Verified and working as per the expectation.
Please find the attached output.
[Pip py 3parencryptor output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2514277/Pip.py.3parencryptor.output.txt)

[2018-10-25 10:10] nilangekarss commented on #369
[snapAfterUpgradeFrom2_1 to 3_0.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2514336/snapAfterUpgradeFrom2_1.to.3_0.txt)

[2018-10-25 11:11] farhan7500 commented on #339
Closing issue as per the discussion with @sandesh-desai

[2018-10-25 11:11] #339 closed

[2018-10-26 04:11] sandesh-desai commented on #380
Attaching Syslog

[upgrade.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2517647/upgrade.txt)

[2018-10-26 08:50] nilangekarss commented on #380
@wdurairaj @sandesh-desai Having multiple back ends in 2.1 plugin is not a valid use case.
Can you try adding multiple back ends in hpe.conf after upgrading to 3.0 ? If you still face the same issue i will have a look at it. Else, this can be closed as not valid scenario. I would like William to give his say on this.

[2018-10-26 11:13] sandesh-desai commented on #380
@nilangekarss  Yes,Able to add multiple back ends in hpe.conf after upgrading to 3.0.

[2018-10-26 11:14] wdurairaj commented on #380
@sandesh-desai , if you are upgrading the plugin from 2.1 to 3.x the assumption should be use only DEFAULT backend. After the upgrade process is complete, you can add further backends to the hpe.conf.

[2018-10-26 11:45] sandesh-desai commented on #369
Verified and closed.
Attaching the logs.

[bug-369-syslog.1.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2519023/bug-369-syslog.1.txt)
[bug-369-syslog.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2519024/bug-369-syslog.txt)
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2519016/Docker.output.txt)

[2018-10-26 11:45] #369 closed

[2018-10-26 11:46] sandesh-desai commented on #378
Verified and Closed.
Attaching the logs.
[bug-378-Syslog.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2519029/bug-378-Syslog.txt)
[docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2519030/docker.output.txt)

[2018-10-26 11:46] #378 closed

[2018-10-26 11:56] farhan7500 commented on #364
@imran-ansari, @wdurairaj @nilangekarss : I tried recreating another issue but ended up reproducing this one.

Here are the logs and details:
[code]

The PVC has gone into 'Lost' State.

Please find the logs at 15.218.171.250:/home/ftpuser/Farhan/lost_pvc.zip
Attaching here was not possible because of the large size of logs

Setup Details:
[code]

[2018-10-26 12:10] sandesh-desai commented on #367
Able to Reproduce the issue with the help of Farhan.
Then replace the #/python-hpedockerplugin/ansible_3par_docker_plugin/tasks/install_prerequisites.ymlfile as per mention in the bug to verify the fix.
Now re-run the task again and still in running.
Attaching the logs.
[results.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2519082/results.txt)
[results-old.txt](https://github.c

[2018-10-26 12:12] farhan7500 commented on #234
Created POD multiple times as this is supposed to be intermittent, but failed to reproduce this issue. I have created a script that will repeatedly create the POD, and destroy it once it successful to reproduce this.

However, faced another issue where the PVC went into lost state. I have described this and have attached the logs at https://github.com/hpe-storage/python-hpedockerplugin/issues/364#

[2018-10-26 12:13] farhan7500 commented on #367
Since this issue is verified, I will create a new python artifact for the encryptor and publish it. Then we can close this issue

[2018-10-29 04:59] sandesh-desai commented on #380
As per the above comment by @wdurairaj  only DEFAULT backend should be use while upgrading from 2.1 to 3.X.
Hence closing the bug.

[2018-10-29 04:59] #380 closed

[2018-10-29 05:50] dockerciuser opened #390 "Docker EE 2.0 with UCP : Error in creating snapshot."
While creating the snapshot got an error due to size parameter.
Below are the detailed steps which I followed -
1. Created storage class -
[root@CSSOSBE03-B11 new_yaml]# cat sc.yml
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: test-sc
provisioner: hpe.com/hpe
parameters:
  size: "17"
[root@CSSOSBE03-B11 new_yaml]# kubectl create -f sc.yml
storageclass "test-sc" created
[root@C

[2018-10-29 06:48] sonawane-shashikant commented on #170
VERIFIED as FIXED.
Please refer to bug#186 for verification details.

[2018-10-29 06:48] #170 closed

[2018-10-29 07:51] imran-ansari commented on #390
'size' parameter is not allowed for creating a snapshot. However, size parameter seems to be a requirement by K8S.
Since Tushar was able to work out his with with setting size to 0 and using --validate=false, I feel that this is a candidate for documentation issue.

[2018-10-29 08:28] dockerciuser commented on #372
@wdurairaj @imran-ansari , still not able to import the volume.

04:11:06 client.go:126: request: action=POST path=http://unix/VolumeDriver.Create payload={"Name":"sc-import-vol-a055bd6f-db51-11e8-a0ae-0242ac110010","Opts":{"importVol":"tushar-2","mountConflictDelay":30}}
04:11:06 client.go:168: response: 200 OK, length=-1
04:11:06 dockervol.go:267: unable to create docker volume using sc-import-v

[2018-10-29 08:30] dockerciuser commented on #390
Same behavior is seen while importing the volume.

[2018-10-29 08:46] prablr79 commented on #364
@dockerciuser can you update the versions that you observed this issue ?

[2018-10-29 08:49] dockerciuser commented on #364
@prablr79 ,
Docker Engine - 17.06.2-ee-16
Kubernetes    - v1.8.11-docker-8d637ae
Volume plugin - master

[2018-10-29 08:50] nilangekarss commented on #390
@dockerciuser could you tell what is the size with which the snapshot gets created when size is not specified and marked validate==false?

[2018-10-29 08:56] dockerciuser commented on #390
@nilangekarss , The size of snapshot is same as the size of parent volume with flag validate=false

[2018-10-29 09:53] imran-ansari commented on #372
Though it was allowed to have mountConflictDelay with importVol in request_validator, however, after crossing this validation layer, there is another level of check - redundant now - only for importVol which doesn't allow any option except for backend.
This has been fixed in the PR https://github.com/hpe-storage/python-hpedockerplugin/pull/388 for which the review and approval process is complete.

[2018-10-29 12:03] sandesh-desai commented on #347
Verified and Closed.
Attaching the logs.
[For QOS related volume.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2525126/For.QOS.related.volume.txt)
[For replicated volume.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2525127/For.replicated.volume.txt)
[Hpe.conf for QOS volume.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2525128/Hpe.conf.for.

[2018-10-29 12:44] dockerciuser commented on #390
@nilangekarss
Docker Engine - 17.06.2-ee-16
Kubernetes    - v1.8.11-docker-8d637ae

[2018-10-30 10:38] wdurairaj commented on #347
Closing based on previous comment by Sandesh

[2018-10-30 10:38] #347 closed

[2018-10-30 14:15] nilangekarss commented on #390
@imran-ansari @wdurairaj @prablr79 We should allow the size parameter to be passed along with the virtualCopyOf and Import in our plugin but this parameter is ignored inside the code. The PVC is associated with a StorageClass and PVC has a required parameter spec.resources[storage]. Clone accepts size which is specified during PVC creation hence we do not see any error while creating a clone of a

[2018-10-31 05:07] sandesh-desai opened #392 "Upgrade Testing:Plugin upgrade 2.1 to 3.0.While importing a volume from a CPG which is in a different domain and a user don't have a access to that Domain it gives HTML exception message."
Upgrade Testing:Plugin upgrade 2.1 to 3.0
While importing a volume from a CPG which is in a different domain and a user don't have a access to that Domain it gives HTML exception message.

Testbed Details:
Host:192.168.68.45
Host OS: Ubuntu Release: 16.04
Docker Version: 17.06.2-ee-16
3PAR array: 192.168.67.5 [DEFAULT] , 192.168.67.5 [3par11]

Steps perform:

1) Install old plugin 2.1 successfully

[2018-10-31 06:18] farhan7500 commented on #234
Unable to reproduce this after running > 30 times.

Could we close this this? If the issues is observed again, we can reopen it.

[2018-10-31 06:48] sandesh-desai commented on #375
Verified and closed.
Attaching the logs.
[3PAR Output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2533056/3PAR.Output.txt)
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2533057/Docker.output.txt)
[hpe.conf.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2533058/hpe.conf.txt)
[Syslog.txt](https://github.com/hpe-storage/python-h

[2018-10-31 06:48] #375 closed

[2018-10-31 07:49] virendra-sharma opened #393 "Incorrect 3par volume name in docker inspect after managing existing snapshot"
I have created volume & snapshot in secondary 3par and tried to manage it through -o importVol & -o backend, volume and snapshot managed well but during docker inspect for snapshot, incorrect name of 3par volume gets populated.

3par volume name in docker inspect : "**dcv**-Wgebe8hsSuie8wkx9Bv4tA"
Actual name of managed snapshot in 3par : "**dcs**-Wgebe8hsSuie8wkx9Bv4tA"

**Below steps to re-produ

[2018-10-31 08:32] prablr79 commented on #234
Please go ahead close this bug, if re appears please open again.

[2018-10-31 08:32] #234 closed

[2018-10-31 08:49] sandesh-desai commented on #220
Verified the help content.close the bug.

[2018-10-31 08:53] sonawane-shashikant commented on #220
Closing as per above comment.

[2018-10-31 08:53] #220 closed

[2018-10-31 08:55] farhan7500 commented on #16
Added Travis CI unit test and pep8 check to the current development plugin_v2 branch.

https://travis-ci.com/hpe-storage/python-hpedockerplugin/

[2018-10-31 08:56] wdurairaj commented on #16
plugin_v2 branch of this repository is used for the current plugin implementation, and the CI workflow is integrated on this branch using Travis, as updated in the previous comment. Hence closing this.

[2018-10-31 08:56] #16 closed

[2018-10-31 09:14] nilangekarss commented on #393
@virendra-sharma Hi Virendra, have u created py.vol1 py.vol1_snap volume and snapshots respectively?
I do see you have imported the volume correctly.
docker volume create -d hpe --name docker1 -o importVol=py.vol1 -o backend=backend2
Now, while importing the snapshot you have used the same command only different name(you should have imported a snapshot).
docker volume create -d hpe --name docker1_

[2018-10-31 09:45] virendra-sharma commented on #393
@nilangekarss Hi Swapnil, Sorry, it was typo and steps are corrected now.

I was expecting an error when you import non-existing volume py.vol1 to docker environment but I do not see it here. Can you please check this again?

Yes, but I wrongly missed "_snap" while copy, paste in github from import snapshot command.

[2018-10-31 10:47] nilangekarss commented on #393
It's a valid bug, thanks for the detailed log I have looked into it.

[2018-10-31 14:21] wdurairaj commented on #393
Nice bug Virendra :+1:

[2018-10-31 14:32] wdurairaj commented on #393
i believe we don't distinguish between snapshot/volume during the import process.

Problem lies https://github.com/hpe-storage/python-hpedockerplugin/blob/plugin_v2/hpedockerplugin/volume_manager.py#L356

This line `vol = volume.createvol(volname)` , assumes `is_snap` to False, and hence the `dcv` prefix is done for volume name computation in `volume.py`

Fix should be done by detecting if the imp

[2018-11-01 08:30] dockerciuser commented on #372
Verified the clone, snapshot and import vol and snapshot scheduling. All are working fine in kubernetes setup. Closing the bug.

[2018-11-01 08:30] #372 closed

[2018-11-02 05:45] dockerciuser opened #394 "Kubernetes : The optional parameters are not displayed in "Options" section docker volume inspect"
If the volume is created in kubernetes environment the "Options" field of docker volume inspect is blank.
Whereas in case of plane docker volume plugin it is displayed.

Example :
1. volume created with docker volume plugin -

root@cssosbe02-b12:/home/stack/tushar/python-hpedockerplugin/tests/integration# docker volume inspect docker_699c0215
[
    {
        "Driver": "dockerciuser/hpedockerplugin

[2018-11-02 05:55] nilangekarss commented on #394
@dockerciuser @prablr79 @wdurairaj This is a correct behavior as long as Status field is showing same data we will not be worried. An options field will populate these values only when inspect is used on the same node where docker volume is created on the same node and depends on docker cli commands. In the case of K8S dory/doryd invokes docker API internally hence this behavior.

[2018-11-02 06:40] nilangekarss commented on #393
Please review the pull request https://github.com/hpe-storage/python-hpedockerplugin/pull/395
I have verified the following scenario by creating a build with changed code.

[code]

[2018-11-02 06:45] nilangekarss commented on #394
@prablr79 Its not a bug from my point of view.

[2018-11-05 08:11] sandesh-desai commented on #393
Verified and working as per expectation.
Attaching the logs.
[3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2547160/3PAR.output.txt)
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2547161/Docker.output.txt)
[hpe.conf.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2547162/hpe.conf.txt)
[Syslog.txt](https://github.com/

[2018-11-05 09:30] virendra-sharma commented on #393
As per above comment & verification from automation script, closing this issue. issue has been fixed and verified.

[2018-11-05 09:30] #393 closed

[2018-11-05 17:40] imran-ansari opened #396 "Timeout: Enable plugin fails if initialization takes long time (~25 secs)"
### Problem
Enable plugin is a synchronous operation. It has been observed that if it takes around 22-25 seconds, the operation times out without any clues.

This can happen in the following scenarios:
1. Large number of backends configured by the user
2. Multiple backends configured with at least one having incorrect entries. E.g. Array IP is incorrect

### Expected
In the first case, the plugin

[2018-11-07 12:03] wdurairaj commented on #364
I see the kubernetes controller has set the PV to lost state and then the doryd picks up the event and marks the PV in Lost state.

[code]

[2018-11-08 06:10] prablr79 commented on #364
Farhan is not able to reproduce this defect in the new setup. hence moving this to Medium

[2018-11-08 06:13] sandesh-desai commented on #385
Already log a bug#101 its a known issue.
old bug for few iscsi mount failures -- https://github.com/hpe-storage/python-hpedockerplugin/issues/101

Verified and Closed.

[2018-11-08 06:13] #385 closed

[2018-11-08 06:14] prablr79 commented on #394
Lets verify CloneOf and snapshotOf, import vol details.

[2018-11-08 11:00] dockerciuser commented on #394
Executed the ymls in kubernetes environment with -o parameters as -

1. with cloneOf option -

[root@CSSOSBE03-B11 new_yaml]# cat sc_clone.yml
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: sc-clone-test
provisioner: hpe.com/hpe
parameters:
  cloneOf: test-sc-55a55c53-e340-11e8-a0ae-0242ac110010

[root@CSSOSBE03-B11 new_yaml]# docker volume  inspect sc-clone-test-89ac2751-e340-

[2018-11-08 11:47] sandesh-desai commented on #332
Verified -o parameter as per mention in help.
Closed the bug.

[2018-11-08 13:44] imran-ansari commented on #381
@sandesh - are you able to inspect the created snapshot in this case? Does it display proper snapshot schedule details?

[2018-11-08 18:04] maxaquino opened #399 "FC plugin: unable to mount volume for pod"
Hi,

We are experiencing an error while testing the FC plugin for 3PAR on a SuSE CaaS 3.0 installation.

The volume is successfully created on the storage system but the pod associated to the volume does not start and I don't see any LUN presented to the OS.

Below the error raised:
  ----     ------                 ----  ----                   -------
  Normal   Scheduled              2m    defau

[2018-11-09 02:31] imran-ansari commented on #154
@shashi / @sandesh - could you please test this once and let us know if you see the same behavior?

[2018-11-09 04:08] imran-ansari opened #400 "Validate presence of mandatory configuration parameters"
### Issue
Validation for presence of mandatory configuration parameters is required so that appropriate message can be provided to the user

[2018-11-09 04:16] wdurairaj opened #401 "plugin enable operation broke with SSL error"
[code]

[2018-11-09 05:25] imran-ansari opened #402 "Documentation: Add sample configuration for replication in quick-start guide"
Sample files referred to in quick start guide need to have replication configuration

[2018-11-09 05:26] imran-ansari opened #403 "Documentation: Link to sample configuration files in quick start guide is broken"
Link refers to master branch which doesn't have the sample files. Instead it needs to refer to plugin_v2 branch.

[2018-11-09 05:46] prablr79 commented on #399
@maxaquino can you also explain the complete setup if you have any handy diagram that will also help here.

[2018-11-09 06:28] imran-ansari opened #404 "Openshift: Plugin initialization fails with Unicode error"
### Description
Plugin initialization fails with the below Unicode error

`
2018-11-09 04:54:36.966 20 INFO hpedockerplugin.volume_manager [-] Getting source backend configuration...
2018-11-09 04:54:36.970 20 INFO hpedockerplugin.volume_manager [-] Got source backend configuration!
2018-11-09 04:54:36.972 20 DEBUG etcd.client [-] Issuing read for key /backend/DEFAULT with args {} read /usr/lib/py

[2018-11-09 06:29] maxaquino commented on #399
Hi,
we are working in a lab env.
I don't have a diagram but it is a simple CaaS 3.0 installation with 1 master and 2 worker nodes deployed as VMs in a vCenter plus 1 more physical worker deployed on a SY480 Gen10.
That last node (SY480) is the one used to test the FC plugin.

I just modified the example pod yaml file to pin the volume to the physical node using labels.
Below the file used:

apiVer

[2018-11-09 07:13] sandesh-desai commented on #381
@imran-ansari -- Yes,able to inspect snapshot and it display proper schedule details.

root@cssosbe03-b15:~# docker volume inspect snap-volume
[
    {
        "Driver": "hpe:latest",
        "Labels": null,
        "Mountpoint": "/var/lib/docker/plugins/c894307abe033ca38459f3e0c3c110ea4b7a76dc238d7d417256edf2868530f2/rootfs",
        "Name": "snap-volume",
        "Options": {},
        "Scope": "

[2018-11-10 03:05] wdurairaj commented on #401
Yes Imran. analysis on the openssl library version 1.1.1 is right.

Specifying apk add openssl , should have ideally picked up the above version since in the alpine linux package manager i do see it's 1.1.1

https://pkgs.alpinelinux.org/packages?name=openssl&branch=edge

[2018-11-10 03:06] wdurairaj commented on #401
Search for 'openssl' in the text box (Packages) of the above link. Or you could see https://pkgs.alpinelinux.org/package/edge/main/armhf/openssl

[2018-11-10 03:08] wdurairaj commented on #401
Also we are restricting the cryptography==2.2.2 in the requirements-py3.txt which i'm thinking of putting in a free form (without the equality check for 2.2.2), so that it will move ahead and pick up the latest version of openssl

That is another thing which I will perform experimentation.

[2018-11-10 14:31] wdurairaj commented on #401
marking this as FIXED based on CI job on CentOS -- http://16.184.15.6:8080/job/docker-3par-iscsi-plugin-ubuntu/291/console

[2018-11-12 06:16] prablr79 commented on #401
CI is passed hence closing this bug

[2018-11-12 06:16] #401 closed

[2018-11-12 06:18] prablr79 commented on #178
its Managed plugin issue, currently we are not supporting it. in Docker EE 2.0 Managed plugin will not work with Inbuilt kubernetes.

[2018-11-12 09:27] virendra-sharma opened #407 "Unable to import volume from backend 3par1"
Unable to import volume from secondary array ("backend2" in my setup), Getting error as volume does not exist on secondary array, whereas i can see my volume present over there.

Steps to reproduce :-
============
Created volume on secondary array :-
createvv docker_cpg python_vol_1 1

Importing from docker using -o importVol & -o backend option :-
docker volume create -d hpe --name docker1 -o imp

[2018-11-12 09:53] wdurairaj commented on #407
I do see an issue here , the usage is wrong
Created volume on secondary array :-
`createvv docker_cpg python_vol_1 1`

Importing from docker using -o importVol & -o backend option :-
`docker volume create -d hpe --name docker1 -o importVol=python_vol_1 -o backend=backend2`

the volume name issued in -o importVol does'nt have the original name which got created in 3par array.

See the difference py

[2018-11-12 10:22] virendra-sharma commented on #407
@wdurairaj  I can see volume "python_vol_1" in secondary array, whereas "python_vol_1_1" is not present, since i didn't create it.

In below command.
createvv docker_cpg python_vol_1 1 --> volume name is "python_vol_1" only and remaining "1" is for size.

[2018-11-12 10:29] wdurairaj opened #408 "Optional parameter hpe3par_snapcpg when not specified results in error (list index out of range)"
Commands:
[code]

/etc/hpedockerplugin/hpe.conf

[code]

Logs
[code]

[2018-11-12 10:30] wdurairaj commented on #408
[code]

[2018-11-12 11:38] sonawane-shashikant commented on #408
hpe3par_snapcpg is missing
updating appropriate hpe3par_snapcpg in the backend section could resolve the issue.

[2018-11-12 11:53] wdurairaj commented on #408
yes Thanks @sonawane-shashikant , that was the case. Adding that param solved the problem.

[2018-11-12 17:34] wdurairaj commented on #407
definitely i misread the createvv command got your point @virendra-sharma
Thanks for clarifying.

[2018-11-13 05:01] sandesh-desai commented on #392
Attaching the logs:

[Docker output1.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2574693/Docker.output1.txt)

[bug392 create volume syslog.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2574695/bug392.create.volume.syslog.txt)

[2018-11-13 14:22] sonawane-shashikant opened #411 "Concurrent Volume Mount: Volumes mount with iscsi protocol whereas driver is set to FC protocol"
50 volumes created from Default section, when mounted concurrently, get mounted successfully, but shows iscsi entries, though driver in Default section is FC.

Test Bed can be seen in the below output.

Steps to reproduce -
1. Enable plugin having hpe.conf with mixed backends of FC and iscsi protocols. Have FC in Default section.
2. Create 50 volumes concurrently
3. Mount 50 volumes concurrently
4

[2018-11-14 06:15] imran-ansari commented on #408
Closing based on above verification.

[2018-11-14 06:15] #408 closed

[2018-11-14 07:18] virendra-sharma commented on #407
Able to import volume but unable to inspect & delete volume, where as volume is visible through "docker volume ls" command.

Steps performed :-

Steps on secondary array:-
---> createvv docker_cpg volume_docker 1

Steps on docker host:-
---> docker volume create -d hpe --name import_volume -o importVol=volume_docker -o backend=backend2
---> docker volume ls | grep import_volume
---> docker volume

[2018-11-14 07:20] virendra-sharma commented on #407
Please find syslog for above steps...
[syslog_importVol_multiarray_inspect.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2579584/syslog_importVol_multiarray_inspect.txt)

[2018-11-14 10:05] virendra-sharma opened #416 "More than one plugin enabled and volume from single plugin reflected in other plugin together with same volume name"
I have installed and enabled two docker plugin with different alias and when I manage volume from 3par, imported volume is reflecting under both installed plugin driver with same volume name.

Steps to reproduce:-

steps in secondary array:
---> createvv docker_cpg import_volume 1

steps in docker host:
---> docker plugin install dockerciuser/hpedockerplugin:test --grant-all-permissions --disable

[2018-11-14 12:33] wdurairaj commented on #407
@virendra-sharma , can re-test by installing this newly generated tag -- dockerciuser/hpedockerplugin:test

[2018-11-14 12:58] wdurairaj commented on #416
Actually both the plugin exposes `/run/docker/plugin/hpe/hpe.sock` file in containerized form or `/var/lib/docker/plugins/<plugin_id>/rootfs/run/docker/plugin/hpe/hpe.sock` in managed plugin format.

When a volume is created docker engine does a REST call to this unix socket exposed by the plugin (hpe.sock) and invokes the twistd daemon running on the container (which listens to this sock file for

[2018-11-14 12:59] wdurairaj commented on #416
A single volume is listed twice (one under the first plugin and other against the 2nd plugin) since the `$ docker volume ls` is a etcd read operation, and both the plugins have read the identical information.

[2018-11-14 13:56] virendra-sharma commented on #407
Tested and verified, volume import and inspect working properly. Please find commands and output as below.

Steps performed:-

Steps on secondary backend:
--> createvv docker_cpg test_import 1

Steps on docker host:
--> docker volume create -d hpe --name test_imported_vol -o importVol=test_import -o backend=backend2
test_imported_vol
--> docker volume inspect test_imported_vol
[
    {
        "Dri

[2018-11-14 13:56] #407 closed

[2018-11-14 14:05] virendra-sharma commented on #416
@wdurairaj as discussed with @imran-ansari came to know that one plugin can be enable at a time so I suppose if we have such restriction then in current issue plugin bypassing it. if one plugin can be enable at a time then other issue won't arise.

[2018-11-14 14:17] sonawane-shashikant opened #418 "Volume creation on failed 'DEFAULT' backend fails with incorrect error message"
On Faulty replicated backend when we try to create a volume, incorrect message displays.

[code]

Expected Results -
Appropriate Message like, '' msg = 'Backend: "%s" having incorrect/missing some configuration. should be displayed

Actual  - EOF displays

[2018-11-14 14:43] virendra-sharma commented on #407
attaching syslog log for above steps.
[Verified_bug_407.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2581159/Verified_bug_407.txt)

[2018-11-14 16:00] prablr79 commented on #418
is this checked on Build 268 latest ?please confirm

[2018-11-14 16:14] imran-ansari commented on #418
Looking at the backend validation, I believe this is a general error which will occur even in case of non-replicated volume. As a fix, we need to move the backend validation as the initial thing and independent of whether "-o" was used or not because in latter case, we default to "DEFAULT" backend which also needs to be validated as is the case with this issue.

[2018-11-14 16:16] imran-ansari commented on #418
Moving the below code just after the request-validation part would fix this:

`        current_backend = DEFAULT_BACKEND_NAME
        if 'Opts' in contents and contents['Opts']:
            if ('backend' in contents['Opts'] and
                    contents['Opts']['backend'] != ""):
                current_backend = str(contents['Opts']['backend'])

        # check if current_backend present in co

[2018-11-14 16:26] prablr79 commented on #418
guys, lets discuss this with william once..

[2018-11-14 17:10] prablr79 opened #419 "Documentation : Multi back end support in Active passive environment FC and iSCSI"
Scenario :in a Active passive setup of replication, if user has some volumes in FC and some volumes in iSCSI, if iscsi is cold site then the replication should work without any issues.

Currently Docker volume plugin 3.0 : mandate that both sites should be in same protocol.

[2018-11-14 17:12] prablr79 opened #420 "Documentation : Creation of non-replicated volume in the replicated backend"
Scenario : if the user want to create a non-replicated volume with replicated backend in the hpe.conf will not allow to create.

Option : the same backend details need to added again without the replication params and with new backend name.  this will allow the user to create non-replicated volume for the same backend.

[2018-11-14 17:22] prablr79 commented on #418
moving to low since its only error message correction

[2018-11-14 17:24] prablr79 commented on #416
recommendation is one instance of plugin should run.

[2018-11-14 17:25] prablr79 commented on #411
fixed with latest tag

[2018-11-15 10:56] wdurairaj commented on #394
Please see the pull request -- https://github.com/hpe-storage/python-hpedockerplugin/pull/410 for sample responses after this fix.

[2018-11-15 11:40] dockerciuser opened #422 "Docker EE 18.09.0 : The mount path is not displayed in container inspect output."
Steps to reproduced -

**Used Docker EE 18.09.0 setup for testing.**

stack@cssosbe03-b04:~$ docker version
Client:
 Version:           18.09.0
 API version:       1.39
 Go version:        go1.10.4
 Git commit:        33a45cd
 Built:             Wed Nov  7 00:25:12 2018
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Enterprise
 Engine:
  Version:          18.09.

[2018-11-15 12:40] sandesh-desai opened #423 "cpg"

[2018-11-15 12:40] #423 closed

[2018-11-15 12:44] wdurairaj commented on #178
1. Managed plugin mounts the volume under /var/lib/docker/plugins/<plugin_id>/rootfs/<mount_dir>
2. For the kubelet to see this directory it has to run as a process in the docker host
3. But, more recently with Docker EE 2.0 kubelet process is containerized and it does'nt have the volume mapping for /var/lib/docker/plugins folder, hence the managed plugin can't be used in conjuction with flexvolum

[2018-11-15 13:04] imran-ansari commented on #420
@prablr79
Please check out
https://github.com/imran-ansari/python-hpedockerplugin/blob/plugin_v2/docs/replication.md
The note section mentions about this point.

[2018-11-15 13:20] sonawane-shashikant commented on #420
Second point in the  Notes mentions, " In order to do so, she would need to ...."

Can this be changed to
"In order to do so, he/she would need to. ..... "
or
"In order to do so, user would need to......."

[2018-11-15 15:57] dockerciuser commented on #390
This bug was raised while executing the tests on kubernetes 1.8.11. As a workaround we were able to create  snapshot / importVol with flag --validate=false
Now I saw same behavior on kubernetes 1.12, where this flag is also not working.

When tried to import volume got following error -

[root@kuber-master STORAGE-CLASS]# kubectl create -f pvc-importvol.yaml --validate=false
The PersistentVolumeCl

[2018-11-15 20:16] wdurairaj commented on #390
@dockerciuser , @imran-ansari , i believe we can allow size in -o virtualCopyOf parameter in the request validator and in inside the code we have to ignore processing for size, since the snapshot size is same as that of volume size. Will this require a code fix.

[2018-11-16 00:05] imran-ansari commented on #390
Yes. Code fix + Documentation for Docker users.

[2018-11-16 00:30] imran-ansari commented on #390
I think this fix will be required for snapshot-schedule as well.

[2018-11-16 04:30] imran-ansari commented on #390
Ideally this needed to be fixed in Dory/Doryd

[2018-11-16 07:48] imran-ansari commented on #402
This has been taken care of. Please check out the following:
https://github.com/imran-ansari/python-hpedockerplugin/blob/plugin_v2/docs/active-passive-based-replication.md
https://github.com/imran-ansari/python-hpedockerplugin/blob/plugin_v2/docs/peer-persistence-based-replication.md

[2018-11-16 07:53] imran-ansari commented on #381
Snapshot schedule creation can take more time resulting into Docker CLI timeout. However, snapshot schedule may still get created in the background.
E.g. if user executes the following command:
[code]
User can follow the below steps to verify if snapshot schedule got created:
1. Inspect the snapshot to verify if the snapshot schedule got created
docker volume inspect snap-volume. This should displ

[2018-11-16 07:56] imran-ansari commented on #302
@prablr79 - Please review the below content:

"DEFAULT" section in hpe.conf is mandatory for the plugin to work. Not having it or renaming it would prevent the plugin from getting enabled.

[2018-11-16 07:57] imran-ansari commented on #277
@prablr79 - Please review the below content:

If two or more backends are defined with the same name then the last one is picked up and rest ignored

[2018-11-16 07:59] imran-ansari commented on #154
Would suggest a retest for this one and then we can decide whether we need to document it.

[2018-11-16 09:11] wdurairaj commented on #390
I totally forgot that this option will be used in a storageClass,

1. Create storageClass s1
``
parameters:
   importVol: i1
[code]

[2018-11-16 13:48] dockerciuser commented on #394
thanks @wdurairaj for sample output. Verified , closing the bug.

[2018-11-16 13:48] #394 closed

[2018-11-17 07:07] wdurairaj opened #427 "Plugin restart will cause caching logic to fail"
Currently the volume-> backend cache is built during the volume create and read during other operations on the volume. But this causes a caching to fail , once the plugin restart happens and operations were performed on old volumes (which were created before restart)

[2018-11-17 09:37] dockerciuser opened #428 "Changes made in volume properties from 3PAR are not reflected at docker side."
If any changes are made in docker volume ( eg. flash cache, qos ) from 3PAR they are not reflected in docker volume inspect.
We find 2 observation related to this.

1. The flashcahe status is not updated in docker .

Create vvset and volume on 3par.

CSSOS-SSA04 cli% createvv docker_cpg 3par_vol 2g
CSSOS-SSA04 cli% createvvset test_vvs 3par_vol
CSSOS-SSA04 cli% showvvset test*
  Id Name     Member

[2018-11-19 07:37] wdurairaj commented on #427
this PR will address this issue - https://github.com/hpe-storage/python-hpedockerplugin/pull/426

[2018-11-19 10:54] sandesh-desai commented on #392
Closed as per the above output.

[2018-11-19 10:54] #392 closed

[2018-11-19 11:12] dockerciuser commented on #390
@wdurairaj @imran-ansari , I am able to create the snapshot with latest plugin. When tried to create the snapshot schedule got error.
Error log from DORY -

05:44:53 dockervol.go:262: unable to create docker volume using sc-snapschedule-566bb67b-ebe7-11e8-917a-6cc21739c360 & map[virtualCopyOf:FC-VOLUME mountConflictDelay:30 scheduleFrequency:10 * * * * scheduleName:schedule-tushar snapshotPrefix:t

[2018-11-19 11:16] imran-ansari commented on #390
Could you please check if you are able to create snapshot schedule directly using Docker with the same parameters?
Also please attach all the logs.

[2018-11-19 11:33] wdurairaj commented on #390
[code]

I somewhat suspect the `scheduleFrequency:10 * * * *` which is not passed with double quotes in k8s environment.

[2018-11-19 12:20] wdurairaj commented on #390
Hi Tushar,

Can you check how this volume got created ?
[code]
Is the above volume is created using a storage class ?

[2018-11-19 12:32] wdurairaj commented on #390
Actually as per my analysis, even scheduleName can used in a storage class for the same reason, we can't have `importVol`  , since
1. when the first pvc is created with sc having `scheduleName`, this will succeed
2. when the second pvc is created again with sc having the same same schedulename as previous one, then the following error is thrown in the docker logs

[code]
You can see the 'doc_sched

[2018-11-19 12:34] wdurairaj commented on #390
you can confirm the above theory, my creatig a new storageclass with schedulename as different from the already existing ones in 3par, but you will see only the first schedule based on a SC class will work correctly. So, it's an expected behaviour.

[2018-11-19 13:56] dockerciuser commented on #390
@wdurairaj , Did more experimentation. My observation is as -

 -> You are right, the snapshot is created on 3PAR
- > I can see it from docker side as well.

But the PVC status remains "pending"(Expecting as Bound) this bit confusing.

Also saw following error in dory logs -

08:50:08 provisioner.go:237: statusLogger: provision chains=1, delete chains=0, parked chains=0, ids tracked=1, connection=

[2018-11-19 14:54] wdurairaj commented on #390
I do agree with your statements @dockerciuser , But if we say our guideline would be to just use the snapshot scheduling only as part of static provisioning (as part of PV,POD only) and not relevant for dynamic provisioning (using SC) would that suffice ?

[2018-11-19 16:12] prablr79 commented on #390
@dockerciuser @wdurairaj  are we thinking of fix here ? shall we live with the document for this scenario, how customer can handle this issue.  I believe other scenarios we are able to create the snapshot scheduling without any issues.. kindly confirm.

[2018-11-20 04:50] nilangekarss commented on #390
@dockerciuser @wdurairaj While creating a snapshot schedule we use ssh connection, if the ssh response from the array is slow the docker http client will timeout in 30 seconds. If the plugin is able to response in a proper manner in a limited time it is observed that snapshot schedule gets created properly. When we enable the plugin the default client http timeout is set to 30 seconds.
One way to

[2018-11-20 11:34] sonawane-shashikant commented on #411
Closing as FIXED.

[RE_ Observation With FC Mount.zip](https://github.com/hpe-storage/python-hpedockerplugin/files/2599477/RE_.Observation.With.FC.Mount.zip)

[2018-11-20 11:34] #411 closed

[2018-11-20 12:46] dockerciuser commented on #390
Created the snapshot schedule successfully on Kubernetes setup with both the arrays 10.50.3.9 and 10.50.3.24.
Also I can see the status of PVC as “BOUND” and no exception in dory log.

1.	Removed the old dory binary.
2.	Removed the containerized plugin.
3.	Installed new binaries from  - https://github.com/hpe-storage/python-hpedockerplugin/raw/master/dory_installer
4.	Installed the latest plugin

[2018-11-20 13:13] sonawane-shashikant commented on #427
This issue is verified as FIXED and can be closed.

Below steps followed to verify the issue.

### PLUGIN INSTALL -

[docker@cld6b10 ~]$ docker volume ls
DRIVER              VOLUME NAME
[docker@cld6b10 ~]$
[docker@cld6b10 ~]$
[docker@cld6b10 ~]$ vi /etc/hpedockerplugin/hpe.conf
[docker@cld6b10 ~]$
[docker@cld6b10 ~]$
[docker@cld6b10 ~]$ docker plugin ls
ID                  NAME

[2018-11-20 13:20] wdurairaj commented on #427
Closing this issue based on Shashi's observation.

[2018-11-20 13:20] #427 closed

[2018-11-20 14:40] wdurairaj commented on #390
Based on Tushar's previous update, I'm closing this bug.

[2018-11-20 14:40] #390 closed

[2018-11-21 05:13] imran-ansari commented on #403
On master branch, the links are good. Based on the fact that the documentation will be maintained on master going forward, we can close this issue.

[2018-11-21 09:01] prablr79 commented on #101
CHO ran successfully with 72 hrs. hence closing this defect

[2018-11-21 09:01] #101 closed

[2018-11-21 09:05] prablr79 commented on #416
Not a defect, working as designed.

[2018-11-21 09:05] #416 closed

[2018-11-23 16:55] maxaquino commented on #399
Hi,

doing some troubleshooting I did find that the reason why the container does not mount the volume is that the underlying OS does not have the correct symlink for the volume created.
The hpestorage plugin waits for a device in the /dev/disk/by-path path (hardcoded into the python code /usr/lib/python2.7/site-packages/os_brick/initiator/connectors/fibre_channel.py) that is not there.
The workar

[2018-11-26 09:45] wdurairaj commented on #399
I’m going through this issue in detail, but not finding any relevant log attachments on that bug.
I believe you have found some kind of workaround using udev to make the path of the presented volume in /dev/disk/by-path/ and proceeded with that.

I have few asks from  you..

1)	Can you share me the problematic logs (container logs – using $ docker logs –f <container_id> , where <container_id> is t

[2018-11-26 10:56] maxaquino commented on #399
Hi,

1) See the attached file. You will find logs from hpestorage and doryd containers.
2) See the attached file. You will find two scripts
3) I will send a private message soon with all the information you need to log into our environment.
4) FC is used. We know that iSCSI protocol is not working on a SuSE CaaS environment. Please confirm as it is a relevant information for us.

Thanks
BR
Max

[h

[2018-11-26 11:00] sandesh-desai commented on #332
Able to create a snapshot with size option.

root@cssosbe03-b15:~# docker volume create -d hpe --name=ABCD -o size=200
ABCD
root@cssosbe03-b15:~# docker volume inspect ABCD
[
    {
        "Driver": "hpe:latest",
        "Labels": {},
        "Mountpoint": "/var/lib/docker/plugins/7164787f966db6f691b8ba58ae2a1d42d337e2bc1508e8dc844e0d1299fc768c/rootfs",
        "Name": "ABCD",
        "Options": {

[2018-11-27 09:56] prablr79 commented on #420
reviewed Imran documentation for this defect. once merged in Master will close this defect.

[2018-11-27 09:59] prablr79 commented on #419
I'm fine, can you update in the documentation ? and merge in Master ? i can close this defect once verified in the documentation work.

[2018-11-27 10:00] prablr79 commented on #402
is this added in Master branch ? i can close this defect as well..

[2018-11-27 10:01] prablr79 commented on #403
closing this issue since its invalid..

[2018-11-27 10:01] #403 closed

[2018-11-27 10:04] prablr79 commented on #302
Thats correct, please go ahead and update the documentation in master. i can close this bug..

[2018-11-27 10:09] prablr79 commented on #277
@imran-ansari Lets say this as part of Known Limitation section ? that would be good put as bullet points.. BTW i also see there is missing "Limitation section" lets bring back that section from 2.1 release documents branch to Master.

[2018-11-27 10:10] prablr79 commented on #241
@nilangekarss can you close on the documentation on this issue ?

[2018-11-27 10:12] prablr79 commented on #154
@sandesh @Shashi did you guys verify this ?  do we need documentation ?
@nilangekarss can you close with test team ?

[2018-11-27 10:15] nilangekarss commented on #381
@imran-ansari Hi Imran, Could you please add your this observation under create snapshot schedule section as a note.

"Snapshot schedule creation can take more time resulting into Docker CLI timeout. However, snapshot schedule may still get created in the background. user can follow these two steps in case of time out issue from docker daemon while creating snapshot schedule."
1. Inspect the snaps

[2018-11-27 10:31] nilangekarss commented on #154
@wdurairaj @imran-ansari @@sonawane-shashikant I feel any mount operation shall take 20-30 sec atleast to mount a device.(This involves discovery, finding paths etc). Hence this needs to be re-thought whether its a bug or documentation activity.

[2018-11-27 12:53] wdurairaj commented on #399
I was able to logon to your system, and I definitely see there are differences between the blade which we have our FC driver running and yours.

Working setup:
[code]
Problematic setup:

[code]
couple of questions:

1) Is it a NPIV setup ?
2) Is it a FC driver running on a VM (Virtual Machine ) ?

[2018-11-27 20:37] maxaquino commented on #399
You see only the paths for sdc and sdd because I only activated 1 fc port instead of 2 as it's a simple lab setup.

1. yes it's a sy480 blade behind Virtual Connect modules so NPIV is used
2. It's a bare metal installation so the FC driver is an inbox driver (bnx2fc to be more accurate).

[2018-11-28 00:52] hbxx opened #433 "FC plugin: Unable to mount volumes for pod"
Unable to mount volumes for pod "pod-hpe_default(75563b38-f2a5-11e8-a702-68b599b90960)": timeout expired waiting for volumes to attach or mount for pod "default"/"pod-hpe". list of unmounted volumes=[export]. list of unattached volumes=[export default-token-cht22]

environment: Ubuntu 16.04, K8: 1.11.1, hpe volume plugin 3.0,docker:18.03.1-ce, Rancher:2.1.1

plugin log:
2018-11-27 16:18:09.678 21

[2018-11-28 03:33] wdurairaj commented on #433
1. From the logs, i don't see any error around the mount volume call.. Can you attach the complete log as an attachment to this bug. Drag and drop the log file here (in Ubuntu -- you can see the logs in /var/log/syslog)

2. If you running pod under the kubernetes which runs kubelet as a container (can be confirmed by running `docker ps -a | grep kubelet` , if the output reveals the kubelet contain

[2018-11-28 13:19] wdurairaj commented on #433
Lastly you should have used the containerized plugin for the kubernetes integration `hpestorage/legacyvolumeplugin:3.0`

[2018-11-28 16:48] hbxx commented on #433
That is the point, the mount times out because it never happens.
the mount_prefix is set as follow:
mount_prefix=/var/lib/kubelet/plugins/hpe.com/3par/mounts

the plugin i am using is
3f27d27f9a6b        hpestorage/legacyvolumeplugin:3.0    "/bin/sh -c ./plugin…"   16 hours ago        Up 16 hours

the following is the syslog entries

Nov 27 16:18:02 fmstgengl001 systemd-udevd[18487]: Could not gen

[2018-11-28 17:49] wdurairaj commented on #433
Can you attach the logs generated out of the volume plugin container
`docker logs -f <container_id> ` , where the `container_id` can be got by `docker ps -a | grep legacy`

What i see right now is the provisioner logs (from doryd process).. Lastly, i suggested you to get the /var/log/syslog, that was a mistake from my side. Actually in the kubernetes environment, the containerized plugin is used,

[2018-11-28 17:52] hbxx commented on #433
again, the first attachment i posted is from docker logs -f <container_id>.

[2018-11-28 17:54] wdurairaj commented on #433
those logs does'nt give the complete picture of the problem, since as i said earlier it misses the volumedriver_mount() call... you can drag and drop the attachment to this bug rather than copying and pasting the logs... Github supports drag and drop file attachment. Can you do that ?

[2018-11-28 17:57] hbxx commented on #433
again, the plugin is not calling volumedriver and that is why you do not see it in the log.

[2018-11-28 17:57] hbxx commented on #433
sorry, the plugin is not calling the mount volume, and thus not in the log

[2018-11-28 18:46] wdurairaj commented on #433
@hbxx we haven't tested this flexvolumedriver under Rauncher as you do , if possible can we discuss on a call with screen sharing? If you are inside HPE , drop me your email id , so that we can connect.

[2018-11-29 14:42] wdurairaj commented on #433
in the provisioner log , I don't see the call for Mount as mentioned in this source line of flexvolume driver -- https://github.com/hpe-storage/dory/blob/master/common/k8s/flexvol/flexvol.go#L200, this is the root cause of the issue.

Example:
[code]

[2018-11-29 15:23] prablr79 commented on #420
Verified in master, hence closing this bug

[2018-11-29 15:23] #420 closed

[2018-11-29 15:26] #402 closed, assigned to nobody

[2018-11-29 15:31] prablr79 commented on #277
@imran-ansari can we get the Limitation section to Master link ?

[2018-11-29 15:32] prablr79 commented on #241
@nilangekarss any update on this bug ?

[2018-11-29 15:33] prablr79 commented on #178
this bug will be invalid for current plugin, hence closing this bug

[2018-11-29 15:33] #178 closed

[2018-11-29 15:35] prablr79 commented on #46
Verified hence closing this bug

[2018-11-29 15:35] #46 closed

[2018-11-29 15:37] prablr79 commented on #404
will not fix this issue, if re appears lets reopen this bug..

[2018-11-29 15:37] #404 closed

[2018-11-30 07:05] prablr79 commented on #381
verified in Limitation notes, hence closing this defect

[2018-11-30 07:05] #381 closed

[2018-11-30 07:18] prablr79 commented on #379
verified in the Troubleshooting section. and updated Limitation as well.

[2018-11-30 07:18] #379 closed

[2018-11-30 08:18] sonawane-shashikant commented on #154
With appropriate documentation, this issues can be closed.

[2018-11-30 11:03] nilangekarss commented on #154
@sonawane-shashikant I see on this usage documentation https://github.com/hpe-storage/python-hpedockerplugin/blob/master/docs/usage.md#hpe-3par-docker-volume-parameters
purpose of mountConflictDelay is mentioned. Hence it is okay to close this issue. If not agreeing to this statement please reopen it. Closing this bug now.

[2018-11-30 11:03] #154 closed

[2018-12-06 21:45] hbxx commented on #433
I was to get 3PAR volume attached to K8 when i copied /usr/libexec/kubernetes/kubelet-plugins/volume/exec/hpe.com~hpe/* to /var/lib/kubelet/volumeplugins/hpe.com~hpe/
it appears Kubelet uses this location for volumeplugins.
However, i had to keep the same files under the original location for normal create/delete Lun

[2018-12-12 04:17] sonawane-shashikant opened #435 "Docker3.0: Volume operations fails with timeout with 3PAR Array version 3.3.1.389 (MU4)"
Summary - With Array version 3.3.1.389 (MU4), volumes operations fail.

Test Bed -

CSIM-8K02_MXN6072AC7 cli% showversion -b
Release version 3.3.1.489 (MU4)
Patches:  None

Component Name                   Version
SELECTED AVAILABILITY RELEASE    3.3.1.489 (T05)
CLI Server                       3.3.1.489 (MU4)
CLI Client                       3.3.1.489
System Manager                   3.3.1.489 (M

[2019-01-03 05:23] farhan7500 opened #437 "Hardcoded proxy in 3par docker volume plugin installation"
The proxy in the 3par docker volume plugin installation is currently hardcoded to India HPE Proxy.

This is breaking customer installation.

[2019-01-03 07:01] farhan7500 commented on #437
Fixed at: https://github.com/hpe-storage/python-hpedockerplugin/pull/438/files

The proxy can be provided in the inventory file which will be read by the playbooks

[2019-01-04 06:32] prablr79 commented on #435
@sonawane-shashikant is this real issue, are still seeing with latest firmware image ? please confirm.

[2019-01-04 10:05] prablr79 commented on #437
@farhan7500 please ask Leena or Sandesh verify and close

[2019-01-07 08:58] prablr79 commented on #435
due to old mount entries this was failing, this is not a valid defect.

[2019-01-07 08:58] #435 closed

[2019-01-08 10:49] sandesh-desai commented on #437
Verified and Working as expected.
@farhan7500 : please close the defect.

[2019-01-08 17:02] farhan7500 commented on #437
Closing as fixed

[2019-01-08 17:02] #437 closed

[2019-01-10 04:56] farhan7500 opened #442 "Incorrect error message in the logs when array password for a backend is set in etcs and incorrect password is passed in hpe.conf"
This was seen in one of the customer environments.

Steps to reproduce:

- Set the password for a backend using hpe3parencryptor
- In hpe.conf, set an incorrect password (eg, password) for that particular backend
- Start the plugin container

The expected error is something on the lines of, "Incorrect password, could not connect to array"
Currently, the error is as follows:
``
2019-01-04 15:44:40.

[2019-01-10 06:32] farhan7500 opened #443 "How to get the iscsi IPs in the automated ansible plugin installation?"
One of the customer uses `showport -iscsivlans` to and populates the result in the iscsi IPs in hpe.conf.

In the current logic, we use `showport -iscsi` and get all the ready ports. However, on that particular setup, this command resturned all IPs as 0.0.0.0. However, the `-iscsivlans` returned all the valid IPs.

We need to figure out which is the generic command that can be used to populate the

[2019-01-10 12:13] farhan7500 opened #444 "Users should be able to set less than or more than 3 etcd during automated plugin installation"
Currently, the number of etcd is hardcoded to 3. The users must be able to set less than or more than 3 etcd. Change required in the installer.

[2019-01-10 12:14] farhan7500 opened #445 "Installer sshpass ansible task displays array credentials in plain text"

[2019-01-11 10:59] farhan7500 opened #447 "3par encryptor is unable to generate the encypted password if etcd is not installed on that node in a cluster"
In a 5 node cluster, 3 nodes are etcd clustered.

The 4th and 5th node are not able to encrypt password using hpe3parencryptor because etcd container is not present on those nodes. The encryption utility should be able to create the password using the existing etcd cluster

`[root@localhost ~]# hpe3parencryptor --backend 3PAR1 -a second_key 3pardata
Traceback (most recent call last):
  File "/usr/

[2019-01-16 09:23] Acidguy opened #448 "Variable based password required in plugin_configuration_properties.yml"
current execution of  driver install happens through
ansible-playbook -i hosts install_hpe_3par_volume_driver.yml --ask-vault-pass
this uses SSHpass which i believe is not good security mechanism
instead if we can add a variable plugin_configuration_properties.yml
for say
ansible_user=root
ansible_ssh_pass=XXXX
and then keep in secured in vault that will good

[2019-01-16 10:18] sonawane-shashikant opened #449 "ansible: Document needs correction"
Go to https://github.com/hpe-storage/python-hpedockerplugin/blob/master/ansible_3par_docker_plugin/README.md

Please add below prerequisites under Prerequisites: header
In case of Kubertnetes and Openshift cluster password less communication should be set among master and worker nodes.

To simplify the installation steps, please add the below after ansible installation steps.
1. git clone https://

[2019-01-16 10:32] prablr79 commented on #448
Thanks, we will consider this as part of next release

[2019-01-17 05:34] farhan7500 commented on #449
Modified the documentation based on test review
https://github.com/hpe-storage/python-hpedockerplugin/pull/453/files

[2019-01-18 10:50] farhan7500 commented on #447
Fixed at https://github.com/hpe-storage/python-hpedockerplugin/pull/454

[2019-01-21 06:05] farhan7500 opened #455 "Intermittent issue: Installer fails to write the encrypted password in the configuration file in a 5 node cluster"
During plugin installation on a 5 node cluster, the encryptor generates the passwords for backends for all nodes but fails intermittently writing to hpe.conf

[code]

[code]

[2019-01-21 06:11] farhan7500 commented on #443
@wdurairaj
During our previous discussion, here is what we planned:
The configuration properties yml file will have a vlan tagging parameter which when enabled (set to true - this parameter will be defaulted to false), will get the iscsi ips using `showport -iscsivlans` otherwise get the ips using `showport -iscsi`

Could there be a case where in a replicated backend, the two arrays can have the s

[2019-01-22 10:43] farhan7500 commented on #443
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/456

[2019-01-23 06:14] farhan7500 commented on #444
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/457

[2019-01-23 07:34] farhan7500 commented on #445
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/457

[2019-01-23 08:14] sonawane-shashikant opened #459 "Docker 3.1: K8S 3.13.1: PODs going to Terminating state"
![image](https://user-images.githubusercontent.com/21362687/51591579-6d4b4580-1f13-11e9-9562-d1562d1db58e.png)

Steps To Reproduce -
1. Create SC
2. Based on this SC create 100 PVCs followed by 100 PODs
3. Verify all PODs in Running state
4. Now delete all pods using kubectl delete pod --all command

Expected Result -
All PODs should get deleted successfully

Actual Result -
34 out of 100 PODs goe

[2019-01-23 08:43] sonawane-shashikant opened #460 "Docker 3.1: Unable to create Replicated Volume"
ISCSI Test-Bed -

docker@10.50.128.110's password:
Last login: Wed Jan 23 11:08:37 2019 from cijump.set.rdlabs.hpecorp.net
[docker@cld6b10 ~]$ docker version
Client: Docker Enterprise Edition (EE) 2.0
 Version:      17.06.2-ee-17
 API version:  1.30
 Go version:   go1.8.7
 Git commit:   66834de
 Built:        Thu Oct 25 12:18:20 2018
 OS/Arch:      linux/amd64

Server: Docker Enterprise Edition (E

[2019-01-23 10:01] wdurairaj commented on #460
[code]

Use semicolon for separating iscsi ip's in `replication_device` parameter
This is invalid bug.

[2019-01-23 10:02] wdurairaj commented on #460
Read this doc for sample config -- https://github.com/hpe-storage/python-hpedockerplugin/blob/master/docs/active-passive-based-replication.md

[2019-01-23 14:53] sonawane-shashikant commented on #460
Closing as Invalid.
After correcting replication_device iscsi_ips, I could create replicated volume.

[docker@cld6b10 ~]$ docker volume create -d hpe --name TESTTEST-VOL -o replicationGroup=RCG
TESTTEST-VOL
[docker@cld6b10 ~]$

[2019-01-23 14:53] #460 closed

[2019-01-24 08:22] sandesh-desai opened #461 "Docker 3.1: Openshift 3.10:Ansible: Failed deploy_cluster.yml playbook"
Test Bed Details:

Master Node1 : 10.50.9.15
Worker Node2 : 10.50.9.16
Worker Node3 : 10.50.9.17

Steps To Reproduce -
1) Run ansible-playbook -i /etc/ansible/hosts playbooks/prerequisites.yml --flush-cache
2) Run ansible-playbook -i /etc/ansible/hosts playbooks/deploy_cluster.yml

After running above deploy_cluster.yml command received below error message:

TASK [openshift_control_plane : Report

[2019-01-24 08:44] farhan7500 commented on #461
This is an openshift issue you have seen during Openshift Installation. It is not a docker volume plugin issue!

[2019-01-24 10:20] Logibox opened #462 "Container Storage Interface support"
The [container storage interface][2] (CSI) is now GA in Kubernetes 1.13 ([see here][2])

CSI is a more generic way of presenting storage to container orchestration systems that is not docker dependant (for example I don't think you can use this plugin with CRI-O atm, unless i'm mistaken).

Are there any plans to implement this interface for 3PAR?

[1]: https://github.com/container-storage-interfac

[2019-01-25 04:39] sonawane-shashikant opened #463 "Docker 3.1: Ansible: Error while uninstall playbook run"
[root@kuber-master 3.1]# docker version
Client: Docker Enterprise Edition (EE) 2.0
 Version:      17.06.2-ee-17
 API version:  1.30
 Go version:   go1.8.7
 Git commit:   66834de
 Built:        Thu Oct 25 12:18:20 2018
 OS/Arch:      linux/amd64

Server: Docker Enterprise Edition (EE) 2.0
 Engine:
  Version:      17.06.2-ee-17
  API version:  1.30 (minimum version 1.12)
  Go version:   go1.8.7
  Gi

[2019-01-25 10:15] farhan7500 commented on #463
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/456

[2019-01-28 05:47] prablr79 commented on #462
@Logibox Yes there are plans to implement CSI for 3PAR, however dates not worked out with Product Marketing team.

[2019-01-29 12:31] Acidguy opened #464 "Unable to clone this directory"
Hi Team
Unable to clone this directory
![image](https://user-images.githubusercontent.com/19946397/51908438-df2dfe00-23ef-11e9-91cf-19724cb8633a.png)

[2019-01-29 12:41] wdurairaj commented on #464
this behaviour is same with other github.com projects as well. So I don't think so we can do much about that .. Clone the top level repository as a workaround to overcome this problem

Another repository which had the similar partial clone issue is
[code]

[2019-01-29 12:41] #464 closed

[2019-01-30 06:29] Acidguy opened #467 "Port conflict using automated installer"
automated installer port is conflicting ports and the portupdate is not happening even after updating the porperties files

[2019-01-30 06:45] prablr79 commented on #467
is this reproducible ? are you talking about ETCD ports here ? can you provide some details about the defect ?

[2019-01-31 06:39] Acidguy commented on #467
yes it is reproducible
we talking the ports for the etcd
The workaround is to manually edit the etcd properties

[2019-02-01 03:31] jeonghakw opened #468 "Reclaim policy not inherited"
After setting the Recaim Policy to Retain in Storage Class Spec for Dynamic PV as shown below, creating a PVC sets the default policy to Delete.
  Can you ensure that the policy set by Storage Class is applied to the PV?

# kubectl describe storageclass.storage.k8s.io/thin
Name:                  thin
IsDefaultClass:        No
Annotations:           <none>
Provisioner:           hpe.com/hpe
Paramet

[2019-02-01 03:36] jeonghakw opened #469 "Sometimes "PVC" is not deleted"
When multiple PVs are simultaneously deleted, some PVs cannot be deleted as shown below.
We have created and deleted dozens of PVs using Yaml below.
There was a symptom that couldn't be deleted normally.
Was it Bug? Can I avoid it?
---------------------------------------
thin_sc.yml : Storage Class yaml
---------------------------------------
kind: StorageClass
apiVersion: storage.k8s.io/v1
metada

[2019-02-01 03:42] jeonghakw opened #470 "HP.Sock recreate issue after server fail & up"
There was an issue where /run/docker/plugins/hpe.sock and /run/docker/plugins/hpe.sock.lock were not successfully deleted after the server recovery and regeneration was not done.
So,  failed to attach volume due to socket file regeneration failure.
Can we Fixed it? or avoid it?
(We used recently plug-in & drivers)

[2019-02-01 04:09] prablr79 commented on #469
@nilangekarss is this tested in house, i remember testing multiple delete in our environment, can we quickly cross verify this ?

[2019-02-04 04:48] sonawane-shashikant commented on #449
This issue is resolved as FIXED.

[2019-02-04 04:48] #449 closed

[2019-02-07 06:48] sandesh-desai commented on #444
Verified and working as expected.
Attaching the logs.

[Less than 3 etcd.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2839619/Less.than.3.etcd.txt)
[log.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2839620/log.txt)
[More than 3 etcd.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2839621/More.than.3.etcd.txt)
[hpe.conf.txt](https://github.co

[2019-02-07 07:19] #444 closed

[2019-02-07 08:27] sandesh-desai commented on #447
Verified and working as expected.
Attaching the logs.

[hpe.conf.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2839884/hpe.conf.txt)
[log.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2839885/log.txt)

@farhan7500 please close the bug.

[2019-02-07 08:35] #447 closed

[2019-02-07 17:41] cdmaxson1 opened #473 "Support for vlan tagging"
During 3par plugin installation on k8s, the `plugin_container` docker container generates an `invalid iSCSI ip address` error:
[code]

After initial debugging with HPE team, they believe the issue is related to our use of `vlan tagging` and support must be added to the plugin.

[2019-02-08 09:47] sandesh-desai commented on #455
Verified and working as expected.
Attaching the logs.
[Install Log .txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2844499/Install.Log.txt)

@farhan7500 please close the bug.

[2019-02-11 06:05] #455 closed

[2019-02-12 05:57] Acidguy opened #476 "default Timeout value must be specified of service restart issues"
During the plugin install, we restart docker service
in my case, it ran the script for 12 hours
if there was timeout value specified for tasks
this would make operations more simplified

[2019-02-12 08:38] prablr79 commented on #473
@cdmaxson1 HPE engineering is looking this issue, will be taken as part of 3.1 Release.

[2019-02-12 09:39] sonawane-shashikant opened #478 "Kubernetes: Automated Plugin Install Issue while copying config file"
I tried installing plugin on my Kubernetes setup using automated scripts.
I end up with the below error.

TASK [Verify /etc/kubernetes/admin.conf exists] **************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AnsibleFileNotFound: Could not find or access '/tm

[2019-02-12 09:40] farhan7500 commented on #478
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/477

[2019-02-13 05:27] Acidguy opened #479 "Docker restart fails on nodes"
TASK [restart docker service, also issue daemon-reload to pick up config changes] *****************************************************************************

fatal: [10.0.8.135]: FAILED! => {"changed": false, "failed": true, "msg": "Unable to restart service docker.service: Job for docker.service invalid.\n"}
As per my understanding Job for docker.service invalid.\n"} happens when the service i

[2019-02-13 06:25] sandesh-desai commented on #445
Verified its working as expected.
Attaching the logs.
[Install Log .txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2859063/Install.Log.txt)

@farhan7500  please close the bug.

[2019-02-13 08:32] prablr79 commented on #473
Change is validated in our lab environment with VLAN tagging enabled on iscsi ports of 3PAR.

Steps to install this build

1) Copy the .egg file in this mail to a folder (see the attachment)
2) Find the container name of the volume plugin using docker ps -a command like
docker@csosbe03b10:~$ docker ps -a | grep plugin
ebe7245d6dd5        f80c7d1615be                                      "/bin/sh -

[2019-02-13 11:22] wdurairaj commented on #473
[python_3parclient-4.2.8-py2.7.zip](https://github.com/hpe-storage/python-hpedockerplugin/files/2860120/python_3parclient-4.2.8-py2.7.zip)
Unzip the above file, and extract the .egg file

[2019-02-18 10:26] virendra-sharma opened #480 "unable to create volume with -o backend"
Unable to create volume in secondary backend in my kubernetes setup.

Backend :-
=======
[root@master-node-1 STORAGE-CLASS]# docker volume create -d hpe -o help=backends
Error response from daemon: create 6a3f5e6c4268b1349237d3a2ae32507b8e5db209fca701668afbd9038cece050:
======================================================
NAME                                          STATUS
=====================

[2019-02-18 11:09] virendra-sharma opened #481 "PVC not coming in bound state for -o import vol option"
Getting volume size error despite not using size option in sc.yml, though use size option in sc getting similar issue.

Steps performed:
===========
[root@master-node-1 STORAGE-CLASS]# kubectl create -f sc1-importvol.yaml
storageclass.storage.k8s.io/sc1-importvol-1 created
[root@master-node-1 STORAGE-CLASS]# kubectl create -f pvc-importvol.yaml
persistentvolumeclaim/pvc1-importvol-1 created
[root@

[2019-02-18 11:38] kfeh commented on #470
Same here!
I have to do a Workaround on every reboot of a host:
[code]

Is there a way to fix this Bug?

[2019-02-18 13:23] sandesh-desai opened #482 "OpenShift 3.11:Docker volume inspect is showing fsOwner as null when volume is created with fsOwner."
Testbed Details:
Host: 192.168.68.31
Host OS: openShift 3.11
3PAR array: 192.168.67.7 [DEFAULT] 192.168.67.5 [3PAR1]

Steps to follow:
 1.Create PV,PVC.
 2.Create POD.
 3. Now inspect the volume FP-VOLUME.

Attaching the log files:
[docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2875756/docker.output.txt)

[2019-02-18 13:49] prablr79 commented on #481
@virendra-sharma is this visible in 3.0 release as well ? get a chance to check the 3.0 release build ?

[2019-02-18 13:50] prablr79 commented on #479
@Team, is this observed in our internal testing ?

[2019-02-18 14:18] wdurairaj commented on #482
@sandesh-desai , what is the exact problem ... i do see "fsMode" populated with 0777 , but your bug description says it's null

Based on your attachment i see in the

[code]

[2019-02-18 14:22] wdurairaj commented on #481
`importVol` is not a right parameter to use in a storage class , since during a dynamic volume creation, the same importVol option will triggered with the same volume (which was used in the first import) will be attempted and the second volume creation onwards will fail.

This is because, the first volume creation will rename the vol to a `dcv-` prefix, and the original volume no more exists.

- I

[2019-02-18 16:52] wdurairaj commented on #480
@virendra-sharma , need to logs for me to analyse any bug on first look , can you attach the same ? Capture from the machine where you did a recreate ? (or) you could mail me the details of the machine where this problem can be recreated.

[2019-02-18 16:53] wdurairaj commented on #480
When the bug is classified as "high" I minimum need the logs to understand the severity of the issue.

[2019-02-18 17:11] wdurairaj commented on #470
After a `docker stop plugin_container`  i did see the above hpe.sock/hpe.sock.lock files, but still the plugin came up successfully as shown below

[code]
I would like to understand if the existence of hpe.sock/hpe.sock.lock causes any problems on your side, eventhough the functionality what we expose out of the .sock file is still functional correctly ?

[2019-02-19 04:08] nilangekarss commented on #481
@virendra-sharma We allowed size parameter to be passed for creating a snapshot. This was done because, dory passes size information irrespective of user passes it or not.

[code]

But in our validations (from docker perspective and from the angle of import) size should not be allowed while importing the volume to docker environment.

Due the dory and k8s restriction we need to allow size paramete

[2019-02-19 05:04] sandesh-desai commented on #482
My BAD its  "fsOwner": null,
Attaching the YML files.
[482 fsOwner.zip](https://github.com/hpe-storage/python-hpedockerplugin/files/2878352/482.fsOwner.zip)

[2019-02-19 05:15] nilangekarss commented on #481
@virendra-sharma @wdurairaj i Agree with William's points... A StorageClass provides a way for administrators to describe the “classes” of storage they offer. Administrator can not use same StorageClass for importing volumes.

[2019-02-19 05:30] nilangekarss commented on #480
@virendra-sharma What is wrong in this output Virendra. This is supposed to tell the status of backends.

[2019-02-19 05:58] nilangekarss commented on #482
@sandesh-desai can u please update the title and provide oc get pv,pvc,pod detail

[2019-02-19 06:09] sonawane-shashikant commented on #480
There was double quote present in hpe.conf for hpe3par_snapcpg parameter as below
hpe3par_snapcpg=SHASHI_SNAP_DEST_CPG"

This double quote was causing issue.

But -o help=backends still validates both backends as OK
Can this be addressed?

[2019-02-19 07:18] kfeh commented on #470
I did see the files as well, but i think kubelet has some problems communicating with the plugin. I will try to reproduce it today and attach some logs of the container and kubelet.

[2019-02-19 08:27] prablr79 commented on #481
@virendra-sharma can you recheck and close this bug ?

[2019-02-19 08:31] prablr79 commented on #481
Lets document Swapnil clarity in Readme or Kubernetes BPG

[2019-02-19 09:36] virendra-sharma commented on #481
Clarity provided by @wdurairaj , hence closing this bug.

[2019-02-19 09:36] #481 closed

[2019-02-19 11:13] prablr79 commented on #467
@Acidguy will address in  upcoming release

[2019-02-19 11:15] prablr79 commented on #468
@jeonghakw will address in upcoming release

[2019-02-19 11:16] prablr79 commented on #469
@testteam can you quickly confirm this scenario ?

[2019-02-19 11:18] prablr79 commented on #470
@kfeh please update with new logs.

[2019-02-22 09:36] farhan7500 opened #488 "Add ability to specify the ISCSI target IPs in the install plugin configuration file"

[2019-02-22 10:39] virendra-sharma opened #489 "Able to run dory & doryd after running cleanup through ansible installer"
After running unistall script of ansible installer, tried to run doryd service manually and it running good.

command run for doryd:
================
/usr/libexec/kubernetes/kubelet-plugins/volume/exec/hpe.com~hpe/doryd  /etc/kubernetes/admin.conf hpe.com

installer command for cleanup:
====================
ansible-playbook -i hosts uninstall/uninstall_hpe_3par_volume_driver.yml

Expected result:

[2019-02-25 05:17] sandesh-desai commented on #482
@nilangekarss   Attaching oc get pv,pvc,pod detail.

[oc get pv,pvc,pod.output .txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2899089/oc.get.pv.pvc.pod.output.txt)

[2019-02-26 12:06] sandesh-desai commented on #469
Verified and its working as expected.
Attaching the logs.
[pvc logs.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2905301/pvc.logs.txt)

@prablr79 :  Please close the bug.

[2019-02-26 12:09] wdurairaj commented on #469
@sandesh-desai , will keep this bug, until we rollout a new flexvolume driver.

[2019-02-27 10:49] virendra-sharma commented on #489
Checked and verified, dory & doryd not available after cleanup.

[2019-02-27 10:49] #489 closed

[2019-02-28 04:13] virendra-sharma opened #492 "ImportVol not working for additional backend in kubernetes"
Unable to importVol from additional backend in kubernetes 1.13 setup. getting doryd error log as below.

Error log of doryd
============
7:19:04 provisioner.go:237: statusLogger: provision chains=0, delete chains=0, parked chains=0, ids tracked=0, connection=valid
07:19:05 class.go:75: unable to find a class named
07:19:05 claim.go:77: error getting class named  for pvc pvc-importvol. err=unable t

[2019-02-28 04:20] nilangekarss commented on #492
Can you also put the container logs for the same?

[2019-02-28 04:59] virendra-sharma commented on #492
[container_logs.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2913452/container_logs.txt)
Please find attached container_logs.

[2019-03-04 12:06] virendra-sharma opened #493 "Plugin container going in restarting state"
Tried to install plugin "hpestorage/legacyvolumeplugin:2.1" but container corresponds to plugin going in restarting state.

Steps performed:
===========
1) Uninstall script executed to cleanup existing plugin.
2) Updated plugin tag "hpestorage/legacyvolumeplugin:2.1" in inventory file.
3) Executed install plugin script.

Output of plugin post install script:
=======================
[root@cssosbe03

[2019-03-04 12:23] virendra-sharma opened #494 "etcd going in restarting state"
manually deleted etcd from one of node in cluster and wanted to get it install as earlier through installer.
observation is etcd get installed but it is going it restarting state.

Steps performed:
===========
1) all node etcd and plugin working well.
2) deleted etcd from one of node.
3) executed uninstall script.
4) executed install script with earlier configuration of etcd cluster.
5) ectd get's

[2019-03-04 15:55] cdmaxson1 commented on #462
We are also very interested in a CSI version of the plugin.

[2019-03-04 15:58] prablr79 commented on #462
@cdmaxson1 HPE 3PAR  roadmap is on CSI driver development, engineering sure will bring up in during Next review meeting with HPE Product Mgmt .

[2019-03-04 15:58] prablr79 commented on #462
@cdmaxson1 Please also send out email to Srik on this regard.

[2019-03-04 16:52] cdmaxson1 commented on #462
Will do.

[2019-03-06 06:13] farhan7500 commented on #493
The automated installer is designed to support plugin version 3.0 and above. It has not been tested on plugin 2.1

Please comment below in case you see the same behaviour on version 3.0 or the latest code base

[2019-03-06 06:45] farhan7500 commented on #494
@virendra-sharma Verified the defect, working on it

[2019-03-06 10:50] virendra-sharma opened #495 "Ansible Installer : observed issue with importvol after plugin upgrade"
Unable to import volume from default backend after plugin upgrade.

Error:
====
MountVolume.SetUp failed for volume "pv-import-volume1" : mount command failed, status: Failure, reason: Volume:Test_vol1 does not exists Error: Not found (HTTP 404) 23 - volume does not exist

Steps performed:
===========
1) Installed plugin 3.0 tag with default backend through installer.
2) Imported volume (Test_vol)

[2019-03-06 12:02] virendra-sharma commented on #493
Issues reproduced in plugin 2.1 and as per above @farhan7500 comment it is as per design.
Tried with plugin 3.0 and it worked well, hence closing this issue.

[2019-03-06 12:02] #493 closed

[2019-03-07 09:52] prablr79 commented on #476
@Acidguy fixed by Redhad Openshift , by using higher version docker runtime

[2019-03-07 09:52] #476 closed

[2019-03-11 05:04] prablr79 commented on #482
@sandesh-desai is this observed in last release build ? 3.0 ?

[2019-03-11 05:05] prablr79 commented on #479
This is not a Plugin bug, please open Docker bug

[2019-03-11 05:07] prablr79 commented on #473
Python_3parclient-4.2.9 merged and dist complete

[2019-03-11 06:17] nilangekarss commented on #482
@sandesh-desai can you please attch the dory and docker logs for this usecase

[2019-03-11 07:26] shaik-gousa-khaja-asif opened #498 "Backend initialization takes long time because of ssh call"
As part of  vlan tagging code change , we are performing an ssh call to fetch the port information due to which each backend takes additional 10 secs for initialization  . Hence asynchronous initialization must be done.

[2019-03-12 05:48] virendra-sharma opened #501 "Container of container installer going exited state in middle of plugin installation"
I have created container of installer on my master node only and done with passwordless communication of container with all nodes but while running installation it restarting docker service of master node and installer container itself going in exited state. which abort installation of plugin.

Steps performed:
===========
1) Installed container of installer on master node.
2) Password less commun

[2019-03-12 08:12] farhan7500 commented on #501
The docker service restarts during the installation process. If the container is running on the nodes where the plugin is being installed, this failure will occur.

We need to run this container on a node which is not part of the cluster, or find a way to not retart the docker service during installation(need to investigate on this part to see if it is possible)

[2019-03-12 11:55] virendra-sharma opened #502 "Volume mount suceeded without it's corresponding backend in hpe.conf"
Steps performed
===========
1) Added backend through installer.
2) Create pv,pvc,pod.
3) Removed backend through installer.
4) Tried to mount volume of additional backend, it succeeded.

Observation
========
1) Additional backend volume able to mount, even after removing backend from hpe.conf and plugin restart.
2) container created during pod creation is able to come up after removing it's corres

[2019-03-13 06:06] nilangekarss commented on #502
@virendra-sharma are you able to create volume or snapshots on the removed backend.

[2019-03-13 06:07] nilangekarss commented on #502
@virendra-sharma can you also attach dory and container logs

[2019-03-13 09:37] virendra-sharma commented on #502
@nilangekarss As discussed over skype chat, i have uploaded all the requested logs to issue.

[2019-03-14 10:21] virendra-sharma opened #507 "Passwordless communication require on every container run for installer container"
This is observed that we need to do passwordless communication between installer container and each node of cluster, on every new container run of installer.

Usecase
=====
If we have 10 node cluster and using container installer, we need to do passwordless communication between them and it will communicate flowless for particular container installer only.
In scenario of creating new installer con

[2019-03-15 05:05] farhan7500 commented on #507
This will only be required in case the container is deleted/removed. Why are we removing the container? You can reuse the same container (which will have all the necessary changes you've made in the previous run) by just execution its shell whenever required.

[2019-03-15 06:36] virendra-sharma commented on #507
As per user front, node which holds installer container is not part of cluster so customer won't be holding that machine just for installer container only. What if that machine wiped off and used for some other purpose after cleanup??

[2019-03-15 06:46] farhan7500 commented on #507
The ansible controller should never be the part of the cluster. Cnntainer or VM or bare metal, if the controller OS is wiped out, all information will be lost.

[2019-03-15 06:49] virendra-sharma commented on #507
@prablr79 Please consider my usecase and suggest.

[2019-03-18 11:38] virendra-sharma opened #510 "Error related with ISCSIADM for docker UCP"
I can still able to reproduce below error, which was solved earlier by removing old images.

Steps performed:
==============
1)	Cleaned up images, vlun entry & host entry from array.
2)	Created multicpg volume with filepermission feature on additional backend form UCP browser.
3)	Pod came in running state.
4)	Deleted sc,pv,pvc,pod from UCP browser.
5)	Again executing same YML’s from UCP browser bu

[2019-03-18 12:03] wdurairaj commented on #510
I saw your docker-compose.yml on the non-working node

The correct file should be
[code]

Please note, this line ` - /lib64:/lib64` was incorrect with some other setting.. which I corrected. Please try this change on worker2 as well.

[2019-03-18 16:05] wdurairaj commented on #510
@virendra-sharma , once you confirm, i will put an update on the documentation on this docker-compose.yml change.

[2019-03-18 16:10] prablr79 commented on #507
This can be consider as enhacement, we can do a debate on this usecase.

[2019-03-19 05:00] virendra-sharma commented on #510
@wdurairaj After updating docker-compose.yml, pod issue resolved. but some of observation still persists, like if we delete sc,pv,pvc,pod from UCP browser, vlun & host entry still exists in 3PAR for same volume. Please suggest on this.

[2019-03-19 16:33] sonawane-shashikant opened #511 "Docker 3.1: Validation for fsOwner is missing"
Test Bed -
OS - CentOS
3PAR version - Release version 3.3.1 (MU4)
Plugin -  "PluginReference": "docker.io/hpestorage/hpedockervolumeplugin:3.1"

Steps to reproduce -
1. Create normal docker volume and pass invalid -o fsOwner="1001-1001"
2. Try to mount this volume

Expected Result - VOlume sholw not be created since invalid parameter is passed.
Actual Result - Volume is created successfully but mo

[2019-03-19 16:46] sonawane-shashikant commented on #511
Further when we try to delete the volume which failed mounting. We see below error message.

[docker@cld6b10 ~]$ docker volume rm testvolumeNew
Error response from daemon: unable to remove volume: remove testvolumeNew: resource in use
[docker@cld6b10 ~]$

Grabbed log -

[docker@cld6b10 ~]$ sudo tail -f /var/log/messages
Mar 19 21:59:59 cld6b10 dockerd: time="2019-03-19T21:59:59+05:30" level=info m

[2019-03-20 06:47] virendra-sharma commented on #511
I have tried validation for fsMode too by giving invalid input as "000" or "0000".
It created volume and able to mount it too.

Steps performed:
===========
[root@CSSOSBE03-B11-Worker1 ~]# docker volume create -d hpe --name test -o fsOwner=1001:1001 -o fsMode=000
[root@CSSOSBE03-B11-Worker1 ~]# docker volume create -d hpe --name test1 -o fsOwner=1001:1001 -o fsMode=0000
docker run -it -d --mount s

[2019-03-20 07:01] farhan7500 opened #512 "ssh_hosts_key_file must be a mandatory param in the installer properties file"

[2019-03-20 08:13] sonawane-shashikant opened #513 "Docker 3.1: Volume does not delete if its mounting fails"
Test Bed -
 OS - CentOS
 3PAR version - Release version 3.3.1 (MU4)
 Plugin - "PluginReference": "docker.io/hpestorage/hpedockervolumeplugin:3.1"

Steps to reproduce -
1.Create normal docker volume and pass invalid -o fsOwner="1001-1001"
2.Try to mount this volume to see mount failure.
3. Verify the VLUNs entries on 3PAR.
3. Now try to delete the volume.

Expected Result - In case of mount failure

[2019-03-20 09:26] farhan7500 commented on #512
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/514

[2019-03-20 10:03] sandesh-desai opened #515 "Docker Volume Plugin v3.1 [Scale Engineering] Not able to create 50PODs in FC"
Docker Volume Plugin v3.1 FC connectivity [Scale Engineering]: Not able to create 50PODs in Kubernetes 1.13.3

Testbed Details:
Host:10.50.9.10,10.50.9.22 and 10.50.9.23
Host OS: CENT-OS
Docker version: Version:17.06.2-ee-19
3PAR array: 10.50.3.22
master-node:10.50.9.10-- Ready,SchedulingDisabled

 Created 25 Dep PODs with replica has 2 in each dep = Total 50 PODs
1)	20 PODs are in ContainerCreati

[2019-03-20 11:18] virendra-sharma opened #516 "Volume not deleting after removing sc,pv,pvc with reclaim policy as delete"
I created static as well as dynamic provisioned volume and observed in both cases provisioned volume not deleting which get created during sc,pv,pvc, though reclaim policy set as "Delete".

Steps performed:
===========
1) Created sc,pvc,pod.
2) Volume created by sc,pvc and listed in "docker volume ls".
3) Deleted pod,pvc,pv,sc.
4) Volume still present on setup.

Observation:
========
1) Reclaim po

[2019-03-20 17:48] wdurairaj commented on #516
this bug is duplicate of https://github.com/hpe-storage/python-hpedockerplugin/issues/468

[2019-03-21 14:52] cdmaxson1 opened #517 "iscsi sessions not getting cleaned up when last host mount removed"
## Observation:
Some iscsi sessions are not getting removed when I delete the last pod on an kubelet using the 3par plugin.

## Expected behavior:
All iscsi sessions and nodes should be removed when there are no active mounts on the kubelet.

## Driver version:
3.1

## Steps performed:

Log of creating a pod with an iscsi mount.  The host shows 4 iscsi sessions and nodes:
[code]

After deleting th

[2019-03-21 17:51] wdurairaj opened #518 "encrypted password decrytion fails when the passphrase length is of 16,24,32 characters"
key_check definition in https://github.com/hpe-storage/python-hpedockerplugin/blob/5e1fed9d1e568a4cd5903930d541b4834a2fa696/hpedockerplugin/volume_manager.py  has problem when passphrase length is 16,24,32

[code]

[code]

[2019-03-22 06:41] sonawane-shashikant opened #520 "Docker 3.1: Docker volume inspect shows incorrect role for "Secondary-Rev""
Test Bed -
[docker@cld6b10 ~]$ cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)
[docker@cld6b10 ~]$

[docker@cld6b10 ~]$ docker plugin inspect hpe | grep PluginRef
        "PluginReference": "docker.io/hpestorage/hpedockervolumeplugin:3.1",
[docker@cld6b10 ~]$

CSIM-EOS07_1611168 cli% showversion
Release version 3.3.1 (MU2)
Patches:  P63

Component Name                   Version
CLI Se

[2019-03-22 09:40] Acidguy opened #521 "Green Field install doryd service fails to start"
[root@oshift-fc-m1 python-hpedockerplugin]# systemctl status doryd
● doryd.service - manage doryd service for HPE 3PAR Volume plugin for Docker
   Loaded: loaded (/etc/systemd/system/doryd.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Fri 2019-03-22 05:33:20 EDT; 37s ago
  Process: 26453 ExecStart=/usr/libexec/kubernetes/kubelet-plugins/volume/exec/hpe.com~

[2019-03-22 09:57] farhan7500 commented on #521
Verified the defect,

[root@cssosbe04-b01 ansible_3par_docker_plugin]# service doryd status
Redirecting to /bin/systemctl status doryd.service
● doryd.service - manage doryd service for HPE 3PAR Volume plugin for Docker
   Loaded: loaded (/etc/systemd/system/doryd.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Fri 2019-03-22 15:41:33 IST; 7s ago
  Process: 2

[2019-03-22 10:02] farhan7500 commented on #521
Fixed! in https://github.com/hpe-storage/python-hpedockerplugin/pull/522

[root@cssosbe04-b01 ansible_3par_docker_plugin]# service doryd status
Redirecting to /bin/systemctl status doryd.service
● doryd.service - manage doryd service for HPE 3PAR Volume plugin for Docker
   Loaded: loaded (/etc/systemd/system/doryd.service; enabled; vendor preset: disabled)
   Active: active (running) since Fri 20

[2019-03-22 10:27] sonawane-shashikant opened #523 "Docker 3.1: Error while mounting SnapShot"
Test Bed -
[stack@manager ~]$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)
[stack@manager ~]$

[stack@manager ~]$ docker plugin inspect hpe | grep PluginRef
        "PluginReference": "docker.io/hpestorage/hpedockervolumeplugin:3.1",
[stack@manager ~]$

CSIM-EOS07_1611168 cli% showversion
Release version 3.3.1 (MU2)
Patches:  P63

Component Name                   Ver

[2019-03-22 10:30] sonawane-shashikant commented on #523
[docker.service_log_snapshot.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2996073/docker.service_log_snapshot.txt)
[log_snapshot.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/2996074/log_snapshot.txt)

[2019-03-22 11:24] wdurairaj commented on #516
Specifying reclaimPolicy: "Delete" in StorageClass atleast works now, in the new dory_installer (available in 10.50.9.10

Can you provide me the P

Test Log:
[code]
Now without specifying this `reclaimPolicy`
[code]
In both cases, when the `reclaimPolicy` is specified/not specified as `Delete` , deleting the PVC deletes the corresponding PV and docker volume also
[code]

[2019-03-25 08:21] farhan7500 commented on #521
@Acidguy Pleasecould you verify the fix.

[2019-03-25 09:20] farhan7500 commented on #467
@Acidguy  I am looking into this.

[2019-03-25 09:20] Acidguy commented on #521
issue resolved thanks

[2019-03-25 09:20] #521 closed

[2019-03-25 18:06] wdurairaj commented on #516
@virendra-sharma did you observe that , if you manually delete the volume (associated with PV), did you face any issue?
Like
1. Dangling  LUN entries on 3PAR, which was preventing volume delete ?
2. scsi entries not cleaned up on the initiator side (docker host) ?

Etc. Please update your findings here.

[2019-03-25 18:07] wdurairaj commented on #516
Also, see if my previous update --  successful PV deletion with reclaim policy set to "Delete"

[2019-03-25 18:09] wdurairaj commented on #501
Ansible installer in container form is still in a work in progress, i don't want to classify this bug as "high" even though there could be real issues for this 3.1 release.

[2019-03-26 05:53] farhan7500 commented on #467
@Acidguy This issue is fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/526

Please await the merge and verify the fix

[2019-03-26 11:33] sonawane-shashikant opened #529 "Docker 3.1: Error while inspecting Snapshot"
Test Bed -
[stack@cld6b9 ~]$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)

[stack@cld6b9 ~]$ docker plugin inspect hpe | grep PluginRef
        "PluginReference": "docker.io/hpestorage/hpedockervolumeplugin:3.1",
[stack@cld6b9 ~]$

CSIM-EOS07_1611168 cli% showversion
Release version 3.3.1 (MU2)
Patches:  P63

Component Name                   Version
CLI Server

[2019-03-26 12:56] shaik-gousa-khaja-asif opened #532 "Ansible Plugin installer : ssh_hosts_key_file default value is set to ~/.ssh/known_hosts"
Steps to reproduce :
1. Clone the python-hpedockerplugin repo
2. Leave the optional parameter ssh_hosts_key_file unspecified in properties/plugin_configuration_properties.yml
3. Run the install_hpe_3par_volume_driver.yml

Expected Result:
After successful completion of the playbook , docker plugin must get enabled and the backends must be initialized successfully

 Actual Result:

After successful

[2019-03-26 13:04] shaik-gousa-khaja-asif commented on #532
Also in the README.md file , the ssh_hosts_key_file default value should be /root/.ssh/known_hosts instead of ~/.ssh/id_rsa.pub

[2019-03-27 03:17] farhan7500 commented on #532
Thanks Asif. I'll take a look at this.

[2019-03-27 05:06] farhan7500 commented on #532
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/533

[2019-03-27 05:45] sneharai4 opened #534 "Invalid login details keeps the plugin busy exhausting wsapi sessions"
Plugin error log:
[code]

Total sessions on 3PAR active at the moment when plugin gives the error:
[code]

Docker systemctl status:

[code]

[2019-03-27 05:47] farhan7500 commented on #534
If the plugin fails due to login issue and retries again and again, ultimately the array WSAPI sessions no longer respond and throw:

```Service Unavailable (HTTP 503) 31 - maximum number of server connections has been reached```

[2019-03-27 11:07] virendra-sharma commented on #516
@wdurairaj as discussed, I have updated bug with delete reclaim policy issue arises for docker UCP setup.
from UCP UI if we delete pv,pvc,sc by selecting all together, created volume doesn't deletes.

[2019-03-27 11:13] wdurairaj commented on #510
this issue and the issue #516 are related. Can we close this bug and track the other one?

[2019-03-27 11:17] wdurairaj commented on #396
This was addressed as part of asynchronous backend initialization in PR -- https://github.com/hpe-storage/python-hpedockerplugin/pull/506 . Marking this as FIXED.

@imran-ansari , can you close this as well?

[2019-03-27 11:22] virendra-sharma commented on #510
@wdurairaj this issue was related with incorrect entry in docker-compose.yml. It was solved after following your above solution. I used above docker-compose.yml given by you above.

Since we have specific bug #516 for volume,vlun entries, closing this bug.

[2019-03-27 11:22] #510 closed

[2019-03-28 04:34] sonawane-shashikant opened #535 "Docker 3.1: CHO for 18 hours failed on RHEL with Managed Plugin"
Summary - CHO on RHEL when run for 18 hours.

Test Bed -
[stack@cld6b9 ~]$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)

[stack@cld6b9 ~]$ docker plugin inspect hpe | grep PluginRef
"PluginReference": "docker.io/hpestorage/hpedockervolumeplugin:3.1",
[stack@cld6b9 ~]$

[DEFAULT]
host_etcd_port_number = 23790
logging = DEBUG
hpe3par_debug = True
hpedockerplugin_driver

[2019-03-28 05:08] wdurairaj commented on #535
Please capture the plugin logs -- /var/log/messages on the RHEL box. Share  the environment details via email to the PDL.
[code]
volume create failures are not common, and it only implies a problem in the test array.

[2019-03-28 05:21] shaik-gousa-khaja-asif commented on #532
Tested on latest code . Working fine

[2019-03-28 05:21] #532 closed

[2019-03-28 05:21] imran-ansari commented on #396
Closing as this has been fixed as part of PR https://github.com/hpe-storage/python-hpedockerplugin/pull/506

[2019-03-28 05:21] #396 closed

[2019-03-28 05:49] virendra-sharma opened #536 "Obervation of pod coming in running state with invalid fsmod permission in docker UCP"
In docker UCP setup, it is observed that pod coming in running state with invalid fsmod value in corresponding PV, without creating any volume.

```Note:- Issue observed intermittently, can reproduce in 2 TC's out of around 5.```

Steps performed:-
1) Created PV with invalid fsMode value as "0787".
2) Created PVC and POD.
3) Pod came in running state, where as expected volume not present on setup.

[2019-03-28 06:08] shaik-gousa-khaja-asif opened #538 "Ansible Plugin installer : No support for mount prefix"
Mount prefix option when provided in properties file is not populated in hpe.conf file of the cluster

[2019-03-28 06:09] shaik-gousa-khaja-asif opened #539 "Ansible Plugin installer : No support for quorum_witness_ip"

[2019-03-28 06:34] farhan7500 commented on #538
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/537

[2019-03-28 06:35] farhan7500 commented on #539
@shaik-gousa-khaja-asif I am working on this

[2019-03-28 11:19] shaik-gousa-khaja-asif opened #540 "Ansible PLugin Installer : vlan_tag: True set for a particular backend is applied to the replication_device section"
Steps to reproduce:
1.  Consider a backend with vlan_tag set to True in the plugin_configuration_properties.yml
2.  Add a replication device section to the backend with an array not vlan tagged.
3. Run the ansible installer

Expected Condition:
1. The replication section in hpe.conf file must have the iscsi ports of the non vlan tagged array populated in hpe3par_iscsi_ips:

Actual Condition:
1. Th

[2019-03-28 13:44] wdurairaj commented on #501
based on my above comment , marked it as low

[2019-03-29 04:18] sonawane-shashikant opened #541 "Docker 3.1: Automated Installer: Plugin installation Fails on k8s"
Test bed -

[root@master-node ansible_3par_docker_plugin]# kubectl get nodes
NAME            STATUS   ROLES    AGE     VERSION
master-node     Ready    master   6d19h   v1.13.3
worker-node-1   Ready    <none>   6d19h   v1.13.3
worker-node-2   Ready    <none>   6d19h   v1.13.3
[root@master-node ansible_3par_docker_plugin]#

[root@master-node ansible_3par_docker_plugin]# cat /root/hosts
[all]
10.50.

[2019-03-29 05:39] shaik-gousa-khaja-asif opened #543 "Installer: Installer fails when replication device is specified in the additional backend"

[2019-03-29 05:50] sonawane-shashikant opened #544 "Docker 3.1: Automted Installer: Unwanted ymls in properties folder"
Properties folder in the
python-hpedockerplugin/ansible_3par_docker_plugin/
has 4 YAMLs.
Out of these 4 YAMLs, 2 YAMLs are not updated by the user and should be removed to avoid confusion.

Below 2 YAMLs should be removed -

1.  	etcd_properties.yml
2.  	sample_etcd_properties.yml

[2019-03-29 05:54] farhan7500 commented on #544
Agreed. These yml files are not used not. They are legacy files from initial commit

[2019-03-29 09:43] sonawane-shashikant commented on #541
After cleaning up the k8s setup. Ran installer script again to see below error.

TASK [get the iscsi ports] ***********************************************************************************************************************
ok: [10.50.9.23] => (item=None)
fatal: [10.50.9.23]: FAILED! => {"msg": "The conditional check 'INVENTORY[item]['hpe3par_iscsi_ips'] is not defined and INVENTORY[item]['hpe

[2019-03-29 10:04] farhan7500 commented on #541
Hi @sonawane-shashikant Please could you paste the properties file you used.

[2019-03-29 12:15] virendra-sharma opened #545 "Static provision (dory) & patch command resulting PV in failed status after removing PVC"
Static provisioning showed failed status of PV after executing patch command to change reclaim policy and deleting respective POD & PVC.

Steps performed:-
1) Created PV,PVC & POD.
2) changed default reclaim policy to delete by executing command "kubectl patch pv <your-pv-name> -p '{"spec":{"persistentVolumeReclaimPolicy":"Delete"}}'".
3) Deleted POD & PVC.
4) Checked status of PV, it went in "fai

[2019-04-02 05:23] wdurairaj commented on #534
@sneharai4 , if you are able to recreate this consistently, keep i will keep this as "high" (documenting the steps here) , otherwise, i would deprioritize to either "medium" or "low".

[2019-04-02 05:51] imran-ansari commented on #502
@virendra-sharma - after step 3, can you restart the plugin manually and then try to mount the volume?

[2019-04-02 05:56] wdurairaj commented on #529
if this is functionality of snapshot of replicated volume is not tested on 3.0, why this is tested now and marked as "high". Can you confirm this functionality on 3.0 and see if this issues recreatable. ?

Right now, I'm marking this as "medium" based on the above comments.

[2019-04-02 05:57] wdurairaj commented on #523
if this is functionality of snapshot of replicated volume is not tested on 3.0, why this is tested now and marked as "high". Can you confirm this functionality on 3.0 and see if this issues recreatable. ?

Right now, I'm marking this as "medium" based on the above comments.

[2019-04-02 06:00] wdurairaj commented on #515
Symptoms observed in this bug, are due to residual entries left for volume metadata on the etcd on each performance run. Due to this mount conflict delay feature is kicked in for some volumes, and it causes lots of timeout, and other issues documented in this bug. Marking this is  "FIXED" since, the pod getting stuck in Terminating state, is tracked on issue #459

[2019-04-02 06:06] farhan7500 commented on #543
I am looking into this

[2019-04-02 06:06] farhan7500 commented on #540
I'm looking into this

[2019-04-02 06:23] farhan7500 commented on #544
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/547

[2019-04-02 06:24] farhan7500 commented on #539
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/546

[2019-04-02 09:55] virendra-sharma commented on #502
@imran-ansari
Please find below observation.
1) After removing and restarting plugin, mounted existing volume without specifying driver and volume mounted. I was under impression that existing volume mounted but it was overridden existing volume to local volume.
2) When tried to mount volume after specifying driver, getting exception as "error while mounting volume '/': 'NoneType' object is not su

[2019-04-02 10:08] prablr79 commented on #543
very similar to #540

[2019-04-02 10:11] prablr79 commented on #541
@sonawane-shashikant is this reproduced in the latest setup ? can you confirm ?

[2019-04-02 10:13] prablr79 commented on #534
@sneharai4 can you provide some steps ? else we can mark to Medium..

[2019-04-02 10:17] prablr79 commented on #502
@imran-ansari please take a look

[2019-04-03 06:18] shaik-gousa-khaja-asif commented on #498
Implemented in plugin version 3.1

[2019-04-03 06:18] #498 closed

[2019-04-03 06:25] sandesh-desai commented on #515
Based on William previous update, Closing this bug.

[2019-04-03 06:25] #515 closed

[2019-04-03 07:03] sonawane-shashikant commented on #473
Tested and verified
Steps Followed -
1. Installed hpe 3par docker volume plugin in rhel
2. Configure 3par array having VLAN ISCSI ports
3. Created and mounted volume
4. Verified the mounted volume.

Detailed output for testing

[version.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3037273/version.txt)
[VLAN output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files

[2019-04-03 12:19] sandesh-desai opened #549 "Docker 3.1 Error while creating POD on Openshift 3.11 with array version 3.2.2"
While creating pv,pvc,pod on Openshift 3.11 POD are showing containerCreating state but on backend 3PAR vluns are created successfully.

Test Bed Details:
3PAR : 192.168.67.7
CSSOS-SSA04 cli% showversion -b
Release version 3.2.2.709 (MU6)
Patches:  None

Component Name                   Version
CLI Server                       3.2.2.709 (MU6)
CLI Client                       3.2.2.709
System Manag

[2019-04-03 17:07] wdurairaj commented on #549
Mount failure lead to a dangling VLUN on 3par array is captured in this bug -- https://github.com/hpe-storage/python-hpedockerplugin/issues/513 . So, it's a duplicate.

[2019-04-03 19:12] farhan7500 commented on #543
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/550

[2019-04-03 19:13] farhan7500 commented on #540
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/550

Testing in progress

[2019-04-04 04:04] sonawane-shashikant commented on #541
Issue is the still reproducible.

Followed the below steps -
1. Created K8S cluster with one master and 2 workers
2. Installed 3.0 legacy plugin manually.
3. Validated the cluster and plugin installation by creating sc, pvc and pod
4. POD was in running state.
5. Uninstalled the plugin using Automated installer.
6. Plugin uninstalled successfully.
7. Installed the plugin using Automated installer

[2019-04-04 04:04] wdurairaj commented on #473
Based on the previous comment and the customer's confirmation, I'm closing this defect. Fix available in hpestorage/legacyvolumeplugin:3.1 tag.

[2019-04-04 04:04] #473 closed

[2019-04-04 04:22] sonawane-shashikant commented on #224
Closing this issue as its no more a part of scope.

[2019-04-04 04:22] #224 closed

[2019-04-04 04:31] sonawane-shashikant commented on #463
This issue is verified by following below steps -

1. Installed 3.0 legacy plugin manually on k8s cluster.
2. Validated the installation by creating sc,pvc and pod successfully
3. Uninstalled the plugin using Automated Installer.
4. Plugin gets successfully uninstalled.

Detailed Output is as below -

[root@master-node ansible_3par_docker_plugin]# ansible-playbook -i /root/hosts  uninstall/uninsta

[2019-04-04 04:31] #463 closed

[2019-04-04 05:29] farhan7500 commented on #541
@sonawane-shashikant Please let me know when the setup is free.

[2019-04-04 09:19] farhan7500 commented on #541
The array IP of the the second backend is commented. Hence, the error.

![image](https://user-images.githubusercontent.com/22393330/55544366-8ed16600-56e8-11e9-8815-cb5192dea618.png)

The installation works well when uncommenting the array IP

[code]

[code]

[2019-04-04 09:32] farhan7500 commented on #494
@prablr79 @wdurairaj This defect is being tracked as part of a new [user story ](https://pro.jira.g4ihos.itcs.hpecorp.net:8443/secure/RapidBoard.jspa?rapidView=768&projectKey=CIDG&view=detail&selectedIssue=CIDG-417) in this sprint. SHould this still be classified as High?

[2019-04-04 10:58] prablr79 commented on #535
Moving this to Medium, CHO failure is not observed after removing Replication device from the conf file.  we will continue to observ the failure and then decide on next steps
18 hour CHO run completed on the below blade with couple of mount failures (7 as per the log).

Only change I did on that environment is removed replication_device on [DEFAULT] backend
Since replicated volume mount(s) introdu

[2019-04-04 17:58] wdurairaj commented on #469
Steps to install new flexvolume binary installer
[code]

[2019-04-04 17:59] wdurairaj commented on #469
Above steps needs to be done on all nodes.

[2019-04-04 17:59] wdurairaj commented on #468
Steps to install new flexvolume binary installer (need to be done on all nodes)
[code]

[2019-04-05 05:46] wdurairaj commented on #492
@virendra-sharma , I did some experimentation on this one. Seems like in static provisioning only when you do a pod mount referencing a pvc claim, then the volume is created..

Can you try creating a pod like this
[code]

[2019-04-05 05:48] wdurairaj commented on #492
After the above pod creation, `docker volume ls` would list the volume `IMPORTED-VOLUME`

[2019-04-05 06:29] sneharai4 commented on #518
Fix given https://github.com/hpe-storage/python-hpedockerplugin/pull/551

[2019-04-08 05:15] farhan7500 commented on #541
In your test, the uninstallation worked because it does not use the array to do any of its operations. The array IP **is** required for installation though.

[2019-04-08 06:49] virendra-sharma commented on #492
@wdurairaj I have followed steps given by you. pod came in running status and post that "docker volume ls" showed "IMPORTED-VOLUME" created.

[2019-04-08 10:33] farhan7500 opened #557 "Automated installer : Installation fails at load etcd task"

[2019-04-08 11:42] virendra-sharma commented on #541
@sonawane-shashikant @farhan7500
Tested above issue with Kubernetes 1.12 setup and able to install plugin through installer. Steps followed as below.

1) Manually installed etcd, plugin, dory & doryd setup on setup.
2) Created sc, pvc, pod for volume create.
3) Deleted all sc,pvc,pod and no volume left on setup.
4) Executed uninstall script of installer and it worked well, cleaned up plugin setup

[2019-04-08 12:45] shaik-gousa-khaja-asif opened #558 "Ansible Plugin Installer : The specified mount prefix is not set as default rshared in create_3par_docker_volume_plugin.yml file"
Steps to reproduce:
1. Specify the mount prefix as  /var/lib/kubelet/ in properties file.
2. Run the ansible installer
3. Create SC ,PVC and POD
4. Check for the state of POD

Expected Result :
The POD must be in running state

Actual Result  :
POD is in container creating state

Kubectl describe pod gives the following logs :

Warning  FailedMount  4m (x9 over 22m)   kubelet, cssosbe04-b03  Unabl

[2019-04-08 14:42] prablr79 opened #560 "Automated Installer: Need documentation on ETCD un-install and clean up script"
We need to document the ETCD un-install procedure and also explain the details what the information is being cleaned up during un-install procedure.

[2019-04-08 16:58] wdurairaj commented on #492
@virendra-sharma, as per your previous update, can i close this issue ?

[2019-04-09 04:11] sonawane-shashikant commented on #529
This was tested in 3.0 regression and was working fine.
Attaching word file where output was saved during 3.0 regression.
Please refer to page number 5-6 of the attached doc.

[RHEL regression on 17.06 managed 3.2.2 & 3.3.1 for snapshot schedilung.docx](https://github.com/hpe-storage/python-hpedockerplugin/files/3057126/RHEL.regression.on.17.06.managed.3.2.2.3.3.1.for.snapshot.schedilung.docx)

[2019-04-09 04:53] farhan7500 commented on #557
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/556

[2019-04-09 04:53] #557 closed

[2019-04-09 04:54] shaik-gousa-khaja-asif commented on #543
Working fine in latest build

[2019-04-09 04:54] #543 closed

[2019-04-09 04:55] shaik-gousa-khaja-asif commented on #540
Working fine in latest build

[2019-04-09 04:55] #540 closed

[2019-04-09 04:55] wdurairaj commented on #529
Thanks Shashi for your confirmation.
@nilangekarss , can you confirm if this is a regression on this build. ? We have to block the build release based on this analysis.

[2019-04-09 04:55] virendra-sharma commented on #492
@wdurairaj I have observed on some of setup static volume get created before pod, so it will be good if you suggest one specific condition for it.

[2019-04-09 05:01] shaik-gousa-khaja-asif commented on #538
Support added for mount prefix in latest ansible installer code

[2019-04-09 05:01] #538 closed

[2019-04-09 05:04] wdurairaj commented on #534
I was able to recreate the problem of 1 session leak per backend when this setting is given with improper value

`ssh_hosts_key_file = /root/.ssh/known_hosts` in hpe.conf
paramiko SSH Exception is not caught and it propagates outside of hpe_3par_common in do_setup() call, and the next call which is check_for_error() is not done (which would have done the session logout),

But, when this problem ha

[2019-04-09 05:07] wdurairaj commented on #492
@virendra-sharma , until you confirm if this problem exists in some other environments as per your last comment, I have to downgrade the priority to "medium", since there is a solution to the issue and no more it can be a blocker.

[2019-04-09 05:34] sonawane-shashikant commented on #541
Closing as per above comment.

[2019-04-09 05:34] #541 closed

[2019-04-10 04:53] prablr79 commented on #534
@sneharai4 any comments ?

[2019-04-10 06:21] farhan7500 commented on #558
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/565

[2019-04-10 06:45] sonawane-shashikant commented on #478
This bug is verified as a part of Bug#541 verification.
Closing as FIXED.

[2019-04-10 06:45] #478 closed

[2019-04-10 08:10] leenaj0hn opened #566 "Rancher: Pod mount on a snapshot with schedule fails."
Steps:
Using Rancher UI create a storage class with the following parameters
1. expHrs =5
2. retHrs = 3
3. scheduleFrequency = 10 2 * * *
4. scheudleName = Daily
5. snapshotPrefix = pqr
6 virtualCopyOf = <volume name>

Create a pvc, selecting the above storage class and size of the pv to be created
When the pvc is in "Bound" state, deploy and pod, adding the existing persistent volume. Provide vol

[2019-04-10 08:14] leenaj0hn opened #567 "Rancher: On a node shutdown, pods mounted on the node fail to be moved to the active node."
1. Shutdown an active node, pods mounted on the node fail to be moved to the active node.
2. The pods remained in the Updating/Unknow state.

[2019-04-10 08:39] wdurairaj commented on #459
Kubernetes bug is related to this: https://github.com/kubernetes/kubernetes/issues/60987

[2019-04-10 08:41] prablr79 commented on #459
Open Bug in the K8's environment no code change from Plugin side, hence moving the bug into medium

[2019-04-10 08:42] prablr79 commented on #494
WIP

[2019-04-10 08:45] prablr79 commented on #567
@leenaj0hn try to reproduce in clean environment before claim this is a bug.

[2019-04-10 08:46] prablr79 commented on #567
suspecting same K8's bug https://github.com/kubernetes/kubernetes/issues/60987

[2019-04-10 08:53] prablr79 commented on #545
Dory Defect : https://github.com/hpe-storage/dory/issues/50

[2019-04-10 08:56] prablr79 commented on #535
new obeservation : CentOS 148 Errors basically all in Mount and Delete operation, hence moving back to High.

[2019-04-10 08:58] prablr79 commented on #529
Not reproduced in 3.0 only in 3.1..

[2019-04-10 08:59] prablr79 commented on #523
it is very much tested in 3.0 .. able to reproduce..

[2019-04-10 09:02] prablr79 commented on #517
Need validate the usecase and then we can consider as part of 3.1 this is OSbrick issue.

[2019-04-10 09:02] sonawane-shashikant commented on #535
1.	CentOS ran for 48 hours and test observed 148 errors.

[2019-04-09][14:31:43]http://localhost:None "DELETE /v1.35/volumes/volume-5904 HTTP/1.1" 204 0
[2019-04-09][14:31:43]http://localhost:None "GET /v1.35/volumes HTTP/1.1" 200 588
[2019-04-09][14:31:43][A:41576,E:148] ==================================================================
[2019-04-09][14:31:43][A:41576,E:148] Test performed 41576 a

[2019-04-10 09:08] farhan7500 commented on #560
Added documentation in a fix at https://github.com/hpe-storage/python-hpedockerplugin/pull/568

[2019-04-10 09:10] prablr79 commented on #495
Farhan can you quickly look into this bug ?

[2019-04-10 09:12] sneharai4 commented on #534
I tried re-producing the same issue, but this time I am not getting "Service Unavailable (HTTP 503) 31 - maximum number of server connections has been reached" response error.

I have one host, where hpe.conf has invalid know_hosts file path because of which the backend fails to initialize. Error in plugin-container log:

[code]

Detailed log:
[backend_init_fails_when_hpe_conf_has_incorrect_hosts_

[2019-04-10 09:17] farhan7500 commented on #488
ISCSI IP can not be added into the plugin properties file.

Fixed

[2019-04-10 09:21] prablr79 commented on #470
please revert with new logs

[2019-04-10 09:25] prablr79 commented on #433
This bug will be closed since we are addressing via  DER | Intel [PVR 2677] | 3PAR Volume Plug-in for Docker: Support Rancher 2.1

[2019-04-10 09:25] #433 closed

[2019-04-10 09:26] prablr79 commented on #364
Virendra please check and come back if this issue still persist

[2019-04-10 09:28] prablr79 commented on #198
We are not support SuSE CAASP hence closing this bug

[2019-04-10 09:28] #198 closed

[2019-04-10 11:17] virendra-sharma commented on #364
@prablr79 verified the issue and in both cases (static & dynamic provisioning) PV, PVC remains in bound state. It is not going in lost state.

Functionality is working now as expected, hence can close this issue.

Below is output of status after few minutes.
[code]

[2019-04-10 12:12] sandesh-desai commented on #469
Install new flexvolume driver dory_installer_v31
Verified and working as expected.
Attaching the logs.
[PVC delete logs.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3063675/PVC.delete.logs.txt)

[2019-04-10 12:14] sandesh-desai commented on #469
@prablr79 : Please close the bug.

[2019-04-10 12:24] sonawane-shashikant commented on #523
This issue is reproduced on docker plugin 3.0

Test Bed Details:
10.50.9.15 - Single node
Replication backend: 10.50.3.7,10.50.3.22.

Performed the following Steps:
1. Created a Replicated volume.
2. Created a Snapshot Scheduling to the volume.
3. Mount the Snapshot.Mount failed with the error message.

Please find the attached files of logs and output.

[snapshot error on 3.0.txt](https://github.

[2019-04-10 12:59] wdurairaj commented on #469
Closing based on latest test results with new dory binary dory_installer_v31.

[2019-04-10 12:59] #469 closed

[2019-04-11 04:25] nilangekarss commented on #529
@sonawane-shashikant i am not clear with the use case here. Can you please share your hpe.conf and commands to execute to reproduce this issue.

[2019-04-11 05:18] wdurairaj commented on #364
Closing based on previous comment. Thanks Virendra.

[2019-04-11 05:18] #364 closed

[2019-04-11 05:39] farhan7500 commented on #560
Merged. @prablr79 Please could you close this. Thanks!

[2019-04-11 05:43] shaik-gousa-khaja-asif commented on #558
Tested on latest build . Working fine

[2019-04-11 05:43] #558 closed

[2019-04-11 05:58] virendra-sharma commented on #502
@imran-ansari @prablr79
I can see issue resolved from docker, like I am getting appropriate error message while doing mount of non exisiting backend volume.

But still i can see problem from kubernetes front.
1) Container created by pod is still running after removing backend and restarting plugin. Even i tried to stop running container but it come up again after few seconds.
2) I observed that mo

[2019-04-11 06:48] virendra-sharma commented on #502
@imran-ansari  please find log after stopping running container of pod, which comes up automatically. (without having specific backend in hpe.conf)

[code]

[2019-04-11 07:32] Acidguy opened #570 "3par plugin failure on the worker node"
<10.0.8.6> SSH: EXEC sshpass -d21 ssh -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o User=root -o ConnectTimeout=10 -o ControlPath=/root/.ansible/cp/b293cb41a1 10.0.8.6 '/bin/sh -c '"'"'rm -f -r /root/.ansible/tmp/ansible-tmp-1554961320.6-127718123438907/ > /dev/null 2>&1 && sleep 0'"'"''
<10.0.8.6> (0, '', '')
fatal: [10.0.8.6]: FAILED! => {
   "changed": false,

[2019-04-11 08:14] farhan7500 commented on #570
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/571

@Acidguy Please wait for the merge or take the bits from this commit to continue with your testing

[2019-04-11 08:59] prablr79 commented on #560
Verified the documentation ansible Readme.md hence closing this defect..

[2019-04-11 08:59] #560 closed

[2019-04-11 09:30] nilangekarss commented on #529
@sonawane-shashikant
docker engine doesn't respond some times and we get buffer error. Solution to this problem is keep hpe3par_debug = False. I have tried creating snapshots on other 3 arrays i could see snapshot is getting created and i can inspect it.
Where as only in 192.168.68.5 i do see this problem and can be overcome by putting hpe3par_debug = False in hpe.conf

please verify the same.

[2019-04-11 09:52] sonawane-shashikant opened #572 "Ansible Plugin installer: Plugin installer fails if etcd is running"
Summary - Automated installer fails if etcd is running on any of the or all the nodes and if we give the same port in plugin reference yml

We see the below error in above scenario and plugin does not install on that node.

fatal: [10.50.9.23]: FAILED! => {"changed": false, "msg": "Error starting container 9f064bb4b3ab7e5978cc4bfaea75564e36bccea0b81ae05298ebe4fe41d4b25a: 500 Server Error: Internal

[2019-04-11 09:54] prablr79 commented on #572
@shaik-gousa-khaja-asif  did you also observ this issue ? port is already allocated message ?

[2019-04-11 11:59] virendra-sharma commented on #468
@wdurairaj @prablr79
Verified bug in kubernetes 1.13 environment and it worked well as expected.
After setting reclaim policy in storage class as retain, it is reflecting in persistent volume status. also it is behaving as per design.

Please find below output for the same.

[code]

YAML's used:
[code]

Issue is resolved now, hence can close this bug as per above output.

[2019-04-11 14:36] wdurairaj commented on #468
Closing this bug based on above comment

[2019-04-11 14:36] #468 closed

[2019-04-11 14:44] shaik-gousa-khaja-asif commented on #539
@farhan7500  . The position of the quorum witness IP set in hpe.conf is not correct -

Actual conf file : replication_device=backend_id:CSSOS-SSA05,  replication_mode:synchronous, cpg_map:SHASHI-PRIM:SHASHI-SEC, snap_cpg_map:SHASHI-PRIM-SNAP:SHASHI-SEC-SNAP, hpe3par_username:3paradm, hpe3par_password: wy4a8PYh4IY=, hpe3par_api_url: https://192.168.67.5:8080/api/v1, san_ip: 192.168.67.5, san_login:

[2019-04-11 18:53] farhan7500 commented on #572
This is only a documentation only change. Why has this been marked as a high defect?

[2019-04-11 18:58] farhan7500 commented on #539
I don't understand how the positioning of key value pair affect the parsing?

[2019-04-12 05:49] shaik-gousa-khaja-asif commented on #539
The issue is with the ,  , in the replication section of the conf file when fc driver is specified .
[code]

[2019-04-12 06:00] sonawane-shashikant commented on #518
Fix is not available in 3.1 tag
Will verify again,  once the fix is available in 3.1

[2019-04-12 06:14] prablr79 commented on #572
Since its a doc change moving this Medium defect.

[2019-04-12 06:41] sonawane-shashikant commented on #544
Closing as FIXED

[2019-04-12 06:41] #544 closed

[2019-04-12 06:46] farhan7500 commented on #572
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/573

[2019-04-12 07:14] virendra-sharma commented on #502
As per below log, it is evident that Docker is returning appropriate error. However, Dory doesn't seem to handle it properly by marking the POD as failed. hence raised dory issue, which can be referred at https://github.com/hpe-storage/dory/issues/51.

Please find below log for the same.
[code]

[2019-04-12 08:08] sonawane-shashikant commented on #535
CHO run update on SLES SP3 -

Ran CHO for 72 hours.
Test observed 69 errors.

[2019-04-12][03:50:44]http://localhost:None "GET /v1.35/volumes HTTP/1.1" 200 33
[2019-04-12][03:50:44][A:50473,E:69] ==================================================================
[2019-04-12][03:50:44][A:50473,E:69] Test performed 50473 actions.
[2019-04-12][03:50:44][A:50473,E:69] Test performed 7080 create volume

[2019-04-12 08:44] wdurairaj commented on #518
@sonawane-shashikant , can you do a
`docker rmi -f <plugin_container_image>`
and then do
`docker pull <tag>`

I confirmed the fix is available as part of 3.1

[2019-04-12 08:47] sonawane-shashikant commented on #518
@wdurairaj Automated installer does not remove the images when we run Uninstall script.
I am going to log new issues for the same.

Verification of this bug is in progress and I'll update the same soon.

[2019-04-12 09:58] farhan7500 commented on #539
Added another fix at https://github.com/hpe-storage/python-hpedockerplugin/pull/574

Please verify

[2019-04-12 10:09] sonawane-shashikant opened #575 "Automated Plugin Installer: Uninstall script does not remove plugin image"
Summary - Uninstall script does not remove plugin image. So if image is already present, while installing the plugin, installer uses the same image instead of pulling new images and install.

Test Bed -
[root@master-node ~]# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)
[root@master-node ~]# kubectl get nodes
NAME            STATUS   ROLES    AGE   VERSION
master-node     Ready    m

[2019-04-12 10:23] prablr79 commented on #575
@farhan7500 will look into it..

[2019-04-12 10:37] virendra-sharma commented on #502
Issue is from dory side, hence we will tracking it from dory issue https://github.com/hpe-storage/dory/issues/51.

Hence closing this issue.

[2019-04-12 10:37] #502 closed

[2019-04-12 10:44] shaik-gousa-khaja-asif commented on #539
Verified , the issue with , , is not observed.

[2019-04-15 06:01] farhan7500 commented on #575
Fixed in https://github.com/hpe-storage/python-hpedockerplugin/pull/577

Kindly wait for review and merge

[2019-04-15 06:05] sonawane-shashikant commented on #529
With the latest plugin, even without "hpe3par_debug", this issue could not be reproduced on 3.0 and 3.1

[2019-04-15 06:13] prablr79 commented on #535
12 hrs run with debug flag = false in REDHAT run
2019-04-15][01:25:44][A:12198,E:3] ==================================================================
[2019-04-15][01:25:44][A:12198,E:3] Test performed 12198 actions.
[2019-04-15][01:25:44][A:12198,E:3] Test performed 1603 create volume actions.
[2019-04-15][01:25:44][A:12198,E:3] Test performed 1589 delete volume actions.
[2019-04-15][01:25:44][A:

[2019-04-15 06:38] sonawane-shashikant commented on #529
Attaching the relevant output captured while testing...

[bug 529 on 3.1.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3078701/bug.529.on.3.1.txt)
[BUG 529 on 3.0.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3078702/BUG.529.on.3.0.txt)

[2019-04-15 06:38] #529 closed

[2019-04-15 06:59] imran-ansari opened #578 "CHO: Setting hpe3par_debug to True results in Scanner.bufio error"
Problem
=====
CHO fails with Scanner.bufio error when hpe3par_debug flag is set to True. Plugin logs are routed via Docker engine and if a log statement contains large amount of info, this results in bufio error.
Setting the flag to False results in a cleaner run, however, at the cost of losing 3PAR REST logs.

Suggestion
=======
Find possibility to bypass Docker engine for Plugin logs. This will

[2019-04-15 08:15] sonawane-shashikant commented on #523
This bug is not reproducible on 3.1 but reproducible on 3.0
Please see below output captured while testing.

[BUG 523 on 3.0.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3079076/BUG.523.on.3.0.txt)
[Bug 523 on 3.1.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3079077/Bug.523.on.3.1.txt)

[2019-04-15 09:07] sonawane-shashikant commented on #523
Closing as it is working fine in 3.1 plugin.

[2019-04-15 09:07] #523 closed

[2019-04-15 12:25] sonawane-shashikant commented on #518
3PAR1:
#Mandatory Parameters-----------------------------------------------------------------------------------

    # Specify the port to be used by HPE 3PAR plugin etcd cluster
    host_etcd_port_number: 23790
    # Plugin Driver - Fibre Channel
    hpedockerplugin_driver: hpedockerplugin.hpe.hpe_3par_iscsi.HPE3PARISCSIDriver
    hpe3par_ip: 10.50.3.9
    hpe3par_username: 3paradm
    hpe3par_pa

[2019-04-15 12:27] shaik-gousa-khaja-asif commented on #539
Verified with fc driver . Quorum witness IP is working fine

[2019-04-15 12:27] #539 closed

[2019-04-16 05:43] sneharai4 commented on #566
@leenaj0hn This was verified on the test setup. Please confirm and close.

[2019-04-16 05:45] sneharai4 commented on #567
@leenaj0hn  We can mark this as low.

[2019-04-16 06:15] prablr79 commented on #492
moved to 3.2 release

[2019-04-16 06:23] prablr79 commented on #495
@farhan7500 any update on this bug ?  are we seeing in multiple environments ?

[2019-04-16 06:50] virendra-sharma commented on #482
I have tested this on kubernetes 1.12 environment and it worked well and showed assigned fsOwner value.

[code]

[2019-04-16 06:52] sneharai4 commented on #566
1. Create SC with below parameters:
scheduleFrequency = 10 2 * * *
scheduleName        = schedule1
snapshotPrefix        = pqr
virtualCopyOf         = april11_vol1

2. Create a PVC. It creates a PV and marks it to Bound state

3. Create a POD with above created PVC. POD goes to running state.

4. Check the schedule in 3PAR using **showsched** command

[2019-04-16 09:35] virendra-sharma commented on #512
Tested installer and it is taking default ssh key value in hpe.conf as documented. also path can be change as by providing it in inventory file before running installer.

[2019-04-16 09:36] virendra-sharma commented on #512
can close this bug.

[2019-04-16 10:31] sneharai4 opened #580 "Rancher: ImportVol not working"
On Rancher importVol feature was not working correctly due to plugin not running correctly.

Steps to import legacy volumes into 3PAR.

1. Create a PV
2. Create a POD with Volume type as "Existing Volume" and mention the PV name.
3. POD created successfully with PV available on 3PAR

[2019-04-16 10:52] prablr79 commented on #580
correction in the documentation only

[2019-04-16 12:53] sneharai4 commented on #534
Fix is verified and working.

But need to open a new bug to log errors when the session exhausts and client is raising an exception which is not being handled correctly by 3PAR. Different error is raised for 3.3.1 and 3.2.2 array.

[2019-04-16 15:46] wdurairaj commented on #513
Fix available in `hpestorage/legacyvolumeplugin:3.1` and `hpestorage/hpedockervolumeplugin:3.1`

[2019-04-16 16:03] sneharai4 commented on #534
@prablr79 Closing this issue.

[2019-04-16 16:03] #534 closed

[2019-04-17 04:57] sonawane-shashikant commented on #575
Closing this issue as FIXED

Before Uninstall -

[root@master-node ~]# docker images | grep plugin
hpestorage/legacyvolumeplugin        3.1                 7ba8908ba5ae        45 hours ago        318MB
hpestorage/legacyvolumeplugin        <none>              4b8c9c3f2426        6 days ago          318MB
hpestorage/legacyvolumeplugin        3.0                 22d7ab72c68f        4 months ago

[2019-04-17 04:57] #575 closed

[2019-04-17 05:08] imran-ansari commented on #459
The attached Docker plugin logs don't seem to have captured anything and hence not much helpful.
Could you please generate a new set of logs - given that now we generate a separate log file - which can provide more insight as to where we are going wrong, if at all?

[2019-04-17 05:09] sonawane-shashikant commented on #572
Closing this issue as FIXED -

![image](https://user-images.githubusercontent.com/21362687/56262599-00ec7680-60fd-11e9-8aed-82b5757a2737.png)

[2019-04-17 05:09] #572 closed

[2019-04-17 05:14] sneharai4 commented on #518
@sonawane-shashikant Verified the fix and is working.

[2019-04-17 05:14] #518 closed

[2019-04-17 05:17] #512 closed

[2019-04-17 05:36] shaik-gousa-khaja-asif commented on #443
There is a vlan_tag property added in the properties file which is default set to False and populates the showport -iscsi IP's and when set to True populates showport -iscsivlans IP's . Also working with replicated backend .

[2019-04-17 05:37] sandesh-desai commented on #482
@nilangekarss Please find the attached updated logs.
[482 fsOwner.zip](https://github.com/hpe-storage/python-hpedockerplugin/files/3088063/482.fsOwner.zip)

[2019-04-17 05:37] #443 closed

[2019-04-17 05:38] farhan7500 commented on #488
Closing as fixed

[2019-04-17 05:38] #488 closed

[2019-04-17 06:07] prablr79 commented on #535
#578  tracking in another defect, no errors observed in RHEL and CentOS , however we will try to address the same in 3.2 timeframe. hence closing this defect.

[2019-04-17 06:07] #535 closed

[2019-04-17 06:08] sneharai4 opened #584 "3PAR gives different error on 3.2.2 and 3.3.1 when wsapi session exhausts"

[2019-04-17 06:11] farhan7500 commented on #494
Added this as a limitation in the installer documentation at https://github.com/hpe-storage/python-hpedockerplugin/pull/582

[2019-04-17 06:12] sneharai4 commented on #584
Adding complete logs for reference.
[3pardcv.log](https://github.com/hpe-storage/python-hpedockerplugin/files/3088141/3pardcv.log)
[plugin_container.log](https://github.com/hpe-storage/python-hpedockerplugin/files/3088142/plugin_container.log)

[2019-04-17 08:19] sneharai4 commented on #570
Working now.

[2019-04-17 08:19] #570 closed

[2019-04-17 10:27] shaik-gousa-khaja-asif commented on #495
Tested with recent ansible installer code :
1. Create volume Test_vol1 on 3par
2. Successfully installed hpestorage/legacyvolumeplugin:3.0 from ansible installer
3. Created pv,pvc and pod [pod came to running state & volume was renamed to IMPORTED-VOLUME1]
4. Again created another volume Test_vol1 on 3par
5.  uccessfully installed hpestorage/legacyvolumeplugin:3.1 from ansible installer
6. Created

[2019-04-17 10:30] virendra-sharma commented on #495
Closing as per above comment.

[2019-04-17 10:30] #495 closed

[2019-04-17 10:43] sandesh-desai commented on #482
Change .yaml settings keep (fsMode: "0777") below (fsOwner: "1001:1001"
[482 fsOwner.zip](https://github.com/hpe-storage/python-hpedockerplugin/files/3089197/482.fsOwner.zip)
) ran the test and it works fine.

Attaching the docker,messages,dory and container logs and all PV,PVC,POD yaml.

[2019-04-17 10:45] sandesh-desai commented on #482
Closing the bug as working fine.

[2019-04-17 10:45] #482 closed

[2019-04-17 11:18] sonawane-shashikant commented on #513
Since fsOwner validation is implemneted in the latest plugin, this bug is verified by mounting volume without multipathd service and making host available before mounting.
----------------------------------------------------------------------------
1. By stopping the multipathd service

[root@cld6b9 ~]# docker run -it -v INVALID-FS-OWNER:/data --volume-driver hpe --rm busybox /bin/sh
docker: Error

[2019-04-17 11:18] #513 closed

[2019-04-19 04:45] sonawane-shashikant commented on #578
Ran CHO on CentOS for 5 minutes -
Observed 3 errors
Again after cleaning the system ran CHO for 15 hours to see 0 errors..

[2019-04-19][09:25:35][A:7205,E:0] ==================================================================
[2019-04-19][09:25:35][A:7205,E:0] Test performed 7205 actions.
[2019-04-19][09:25:35][A:7205,E:0] Test performed 1023 create volume actions.
[2019-04-19][09:25:35][A:7205,E:

[2019-04-19 05:01] sonawane-shashikant commented on #578
Some Active VLUNs found though, after CHO run is finished.

CSIM-EOS07_1611168 cli% showvlun -host cld6b10
Active VLUNs
Lun VVName                     HostName --------Host_WWN/iSCSI_Name--------  Port        Type Status ID
  1 dcv-kFG9PV4IRgOQ0CJA7E91tw cld6b10  iqn.1994-05.com.redhat:d0f7bb324eaa 1:2:1 matched set active  1
  1 dcv-kFG9PV4IRgOQ0CJA7E91tw cld6b10  iqn.1994-05.com.redhat:d0f7bb324

[2019-04-22 06:01] leenaj0hn commented on #566
closing this issue

[2019-04-22 06:01] #566 closed

[2019-04-23 06:09] prablr79 commented on #494
CIDG 417 is opened as New story to track this bug as well.

[2019-04-23 06:10] virendra-sharma commented on #494
As discussed, user story CIDG-417 created to implement this feature. hence closing this issue.

[2019-04-23 06:10] #494 closed

[2019-04-23 06:58] leenaj0hn commented on #580
Working as expected. Sneha please close

[2019-04-23 06:59] #580 closed

[2019-04-23 15:16] prablr79 commented on #399
Engineering decided not to support SuSE CAAS  environment. hence closing this case..

[2019-04-23 15:16] #399 closed

[2019-04-23 15:17] prablr79 commented on #330
SuSE caas/ CASP will not be supported by engineering.  hence closing this case.

[2019-04-23 15:17] #330 closed

[2019-04-23 15:18] prablr79 commented on #360
@Team, is this observed in latest UCP testing ?

[2019-04-24 03:47] virendra-sharma commented on #360
@prablr79 I didn't find this issue on my docker UCP setup so far, my setup is still intact and able to perform operations. This issue looks like to be setup issue so can not re-produce it.

[2019-04-24 05:50] prablr79 commented on #360
@prablr79 I didn't find this issue on my docker UCP setup so far, my setup is still intact and able to perform operations. This issue looks like to be setup issue so can not re-produce it.
message from Test engineer, hence closing this defect.

[2019-04-24 05:50] #360 closed

[2019-04-24 06:07] sandesh-desai commented on #549
Already verified in Bug#513 hence closing the bug.

[2019-04-24 06:07] #549 closed

[2019-04-24 07:06] virendra-sharma commented on #422
@prablr79 Verified this issue and able to reproduce problem on docker 18.09 setup.

[2019-04-24 08:31] virendra-sharma commented on #428
@prablr79 I am able to re-produce above issue, it is not yet resolved. please wait till it get's implemented before closing this issue.

[2019-04-29 11:57] shaik-gousa-khaja-asif opened #589 "File Persona: Unable to create file share with file driver specified in DEFAULT_FILE"
Steps to reproduce:
1. Set the hpe.conf file in /etc/hpedockerplugin/hpe.conf as shown
[code]
2. Enable the docker volume plugin
3. Give the command docker volume create -d 8111a35c4540 -o help=backends

Expected result:
DEFAULT_FILE and ActivePassiveRepBackend must get initialized and come to OK state

Actual result :
Default and ActivePassiveRepBackend are in OK state . There is no DEFAULT_FILE

[2019-04-30 05:22] imran-ansari commented on #589
"help" option was still being discussed as to how to proceed with its implementation. This is a known gap at the moment and is being worked upon.
As far as the share creation is concerned, I'm looking into it.

[2019-04-30 11:24] wdurairaj commented on #589
We tried with `[DEFAULT]` a file driver, and `[DEFAULT_BLOCK]` is a block driver, and the initialization failed with this error

[code]

`/etc/hpedockerplugin/hpe.conf`
[code]

[2019-04-30 11:25] wdurairaj commented on #589
Please look at this error
`2019-04-30 11:29:53,529 [ERROR] hpedockerplugin.backend_async_initializer [140365893720808] Thread-2 INITIALIZING backend: DEFAULT FAILED Error: module 'oslo_serialization.base64' has no attribute 'b64decode'`

[2019-05-07 10:35] sandesh-desai opened #591 "File Persona:File share is in "CREATING" state if CPG is configured with RAID type as 6"
File share is in Creating state if CPG is configured with RAID type 6

Testbed Details:
Host:192.168.68.42
Host OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT]

Steps as follows:
1)Create a share on DEFAULT array
docker volume create -d hpe --name sandesh_share1 -o filePersona
2) Inspect the share
docker volume inspect sandesh

[2019-05-07 11:26] leenaj0hn opened #592 "FilePersona: File share creation hangs at "Creating" state with -o fpg"
Test1:
Create an fpg passing -o fpg option.
CPG of the legacy FPG should be different from the default CPG passed in hpe.conf.
This executions hangs at "Creating" state

Test2:
Create an fpg passing -o fpg and -o cpg option with the cpg same as the cpg of the legacy FPG.
The execution fails with the below error

May  7 06:12:56 cssosbe04-b04 dockerd[2592]: time="2019-05-07T06:12:56-04:00" level=in

[2019-05-08 04:35] sandesh-desai opened #593 "File Persona: -o filePersona option not available in "help""
File Persona: -o filePersona option not available in "help"

Testbed Details:
Host:192.168.68.42
Host OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT]

Steps as follows:
1) docker volume create -d hpe -o help

Attaching the help output.
[Help Output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3155512/Help.O

[2019-05-08 05:19] imran-ansari commented on #593
Please try
docker volume create -d hpe -o filePersona -o help
to see the help content.
Please mark this as invalid issue if you are good with the help content.

[2019-05-08 06:59] sandesh-desai commented on #593
In "docker volume create -d hpe -o help" page need to mention -o filePersona related entries, by looking at that entry will execute the below command:
docker volume create -d hpe -o filePersona -o help

[2019-05-08 12:30] sandesh-desai opened #595 "File Persona: Share gets deleted from docker but remains in backend 3PAR"
File Persona: Share gets deleted from docker but remains in backend 3PAR

Testbed Details:
Host:192.168.68.42
Host OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT]

Steps as follows:
1) create share
    docker volume create -d hpe --name sandesh-share1 -o filePersona
2) Inspect share
    docker volume inspect sandesh-share1
3)

[2019-05-09 05:35] sandesh-desai commented on #593
Verified and closed.
Attaching the help info.
[Help output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3160492/Help.output.txt)

[2019-05-09 05:35] #593 closed

[2019-05-09 08:28] sandesh-desai commented on #591
Verified the share creation, working as expected.
Closing the bug.
Attaching the logs.
[Create share.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3161040/Create.share.txt)

[2019-05-09 08:28] #591 closed

[2019-05-09 11:01] sandesh-desai opened #597 "File Persona: Non default CPG Share deleted successfully,But received an error message after deleting a share."
File Persona: Non default CPG Share deleted successfully,But received an error message after deleting a share.

Testbed Details:
Host:192.168.68.42
Host OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT]

Steps as follows:

1) create a share on non-default cpg
   docker volume create -d hpe --name sandesh-share1 -o filePersona -o

[2019-05-09 11:33] imran-ansari opened #598 "File Persona: Unable to override default FPG size via configuration parameter hpe3par_default_fpg_size"
Overriding value of hpe3par_default_fpg_size doesn't take effect while creating FPG

[2019-05-10 04:36] imran-ansari opened #600 "File Persona: Default FPG name conflict when hosts in multi-host setup have their own ETCDs"
ISSUE
====
Default FPG name generation is dependent on a counter present in ETCD. If each host has its own ETCD, then the counter value is duplicated resulting in same FPG name on different hosts.

SOLUTION
=======
Catch duplicate FPG exceptions from 3PAR and keep incrementing the counter till a unique FPG name is generated

[2019-05-10 05:57] imran-ansari commented on #589
@shaik-gousa-khaja-asif - could you please verify this with the latest build?

[2019-05-10 05:58] imran-ansari commented on #592
Hi @leenaj0hn - Could you please verify this with the latest build?

[2019-05-10 06:58] leenaj0hn opened #601 "FilePersona: etcd.EtcdAlreadyExist: Key already exists, error observed while creating share"
Remove and re-install and enable etcd
Install managed plugin
Run  docker volume create -d hpe:latest --name <share name> -o filePersona -o fpg=<fpg name>(via automation script)
This file share gets created successfully

Cleanup FPP, VFS and share on the array
Re-run above script. (Automation 'setup' function removes and re-install the plugin.)
The operation begins to fails with the lock error...

[2019-05-13 13:12] imran-ansari commented on #600
@sandesh-desai - I would like you to verify this before I can close it.

[2019-05-13 13:12] #598 closed

[2019-05-15 08:38] virendra-sharma opened #605 "file storage configuration not validated properly"
```docker volume create -d hpe --name test1 -o help=backend -o filePersona``` command return output as DEFAULT_FILE=OK.
whereas snapcpg mentioned in file storage configuration.

[2019-05-15 09:02] virendra-sharma opened #606 "FilePersona: share is in failed state and unable to delete it"
Created share and it went on failed state due to fpg limit exceeds per node on 3PAR array.
When trying to delete share from host getting below error.

**Error :**
Error response from daemon: unable to remove volume: remove share02: Share backend exception: Failed to remove share share02 from backend: Share backend exception: mediator:delete_share - failed to remove share a886f92f-fa54-4b5e-8c10-85

[2019-05-15 09:04] nilangekarss opened #607 "default share creation fails if default FPG capacity is full."
Whenever user creates share on 3PAR with size=3.5TiB with below command execution 5 times
docker volume create -d hpe --name share_name -o filePersona -o size=3.5TiB

4 shares get created but 5th share creation fails.
The reason for this is, FPG doesn't have space to create this share.

Expected outcome: plugin should bring intelligence to create this share by creating new FPG, new VFS a, new Stor

[2019-05-15 11:59] virendra-sharma opened #609 "Entry's for share and block volume is inconsistent in docker inspect"
**Observed behaviour:**
1) File share "mountpoint" entry in docker inspect command is same while creating, mounting & unmounting share, also inconsistent with "path_info" after share mount.
2) Block volume display "mountpoint" entry before mount, earlier behavior was empty "mountpoint" until volume get's mounted.
3) docker inspect shows all implementation data like id, quotaID, docker_managed, nfs

[2019-05-16 05:49] virendra-sharma opened #610 "File persona: last share delete fpg without checking share from other host"
**Observation:**
Last share deleted deafult fpg(DockerFpg_0) without checking existing share from different host, which used fpg (DockerFpg_0) as legacy fpg.

**Steps Performed:**
1) Create share with default fpg on host1
Host1 --> (docker volume create -d hpe --name share01 -o filePersona)
2) Created share with legacy fpg on host2
Host2 --> (docker volume create -d hpe --name share02 -o DockerFpg

[2019-05-16 15:12] wdurairaj opened #611 "[Enhancement] - Add --data-dir parameter to etcd container creation in ansible_installer"
Current ansible installer creates an etcd cluster, but the contents of this cluster, is not serialized to a local folder for backup / restore purposes.

Request here is to add this following parameter ` --volume=${DATA_DIR}:/etcd-data \ `
and `--data-dir=/etcd-data --name node1 \`

`export DATA_DIR=/var/lib/etcd`

[code]

[2019-05-18 07:03] imran-ansari commented on #610
This use case brings up few points that we need to clear up to conclude how to address this:
1. FPG was created by Docker Host1 (with its own ETCD) and when there are no shares, shouldn't the owner be allowed to delete the share?
2. Share created by Docker Host2 on existing FPG not managed by Host2 is treated as legacy FPG even if it is manged by Host1. In such a case, if the FPG is not deleted by

[2019-05-20 04:34] nilangekarss opened #613 "Wrong size is getting set while creating share on 3PAR via k8s"
When we create PVC with size 1024 GiB to create share of size 1TiB, the share getting created is of size 1GiB.

This is because currently plugin accepts size in MiB instead of GiB from docker user for creating share, where as volume size is expected to be passed in unit of GiB.

[2019-05-20 04:39] nilangekarss opened #614 "Currently mount directory is hard coded to /opt/hpe/data/ this needs to be changed to accept directory location from conf file if provided"
Currently, mount directory is set to /opt/hpe/data/ this needs to be changed to accept any other directory provided in hpe.conf file for file persona backends.

[2019-05-20 07:03] imran-ansari commented on #605
@prablr79 , @wdurairaj , @nilangekarss
This is about mixing configuration parameters of file and block in the same backend section.
E.g. in a File driver backend, user specifies block specific parameters as well like snapcpg, replication etc and vice-versa..

In this case, the parameters that are not applicable to the configured driver are ignored as these are harmless.

I'm inclined to mark this

[2019-05-20 09:50] virendra-sharma commented on #606
Expected output for this use case is "share should not be created on host, it should not be listed in 'docker volume ls' output".

[2019-05-20 11:16] nilangekarss commented on #605
@virendra-sharma
As Imran pointed out it will only allow valid volume/persona option to be set in configuration file.
If few of unsupported options are passed to file share creations these will be simply ignored by plugin .
Same is the case of volume creations as well. This will not impact any functionality.

This can be documented with an example and this can be marked as documentation issue.
Ple

[2019-05-21 17:50] wdurairaj commented on #614
@nilangekarss, `mount_prefix` is supposed to do the above functionality of changing the default mount directory prefix.. Do you expect something else ?

[2019-05-21 17:59] wdurairaj commented on #614
Removing bug label for now.

[2019-05-22 04:56] imran-ansari commented on #610
@prablr79 - we need to finalize the approach to deal with this issue.

[2019-05-22 04:58] imran-ansari commented on #605
@virendra-sharma - kindly let us know your thoughts on making this as a documentation issue.

[2019-05-22 05:28] virendra-sharma commented on #605
@imran-ansari due to time constraint we can document this for this release, but will need to take it as enhancement for next release.

[2019-05-22 05:45] sandesh-desai opened #618 "File Persona: legacyvolumeplugin:Unable to mount a share."
File Persona: legacyvolumeplugin:Unable to mount a share.

Testbed Details:
Host:192.168.68.33
Host OS: NAME="CentOS Linux" VERSION="7 (Core)"
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT]

Steps as follows:
1)Create a share on DEFAULT array
docker volume create -d hpe --name=Default_Share1 -o filePersona
2) Inspect the share
docker volume inspect Default_Share1
3) Mount a share

[2019-05-22 13:11] aironfonteles opened #619 "Unable to use data on a volume in a different host"
I have a scenario where Docker EE 18.09.1 is being used on top of Red Hat Enterprise Linux 7. HPE 3PAR Plugin was successfully installed and configured for Docker onto 5 RHEL 7 hosts.

After installation, HPE volumes can be successfully created using docker commands and the new volume is also available on all of the other hosts. The issue is after writing data to the hpe volume on one host, this d

[2019-05-22 16:55] wdurairaj commented on #619
@aironfonteles, can you give us exact steps (preferably with sample yaml files, container logs from individual nodes, kubectl commands etc.)

- What version of the plugin are you running with ?

Container logs can be captured using `docker logs <container_id_of_plugin>` where the `<container_id_of_plugin> ` can be got by `docker ps -a | grep hpe`

[2019-05-23 08:32] virendra-sharma opened #620 "File Persona: Backend initialization failure"
I tried to configure multiple backend of both combination (block & file) in configuration file. after plugin comes up, getting file backend status as failure.

**ERROR:-**
[code]

**Output of backend status:-**
[code]

**Steps to reproduce:-**
1) Configure 4 backends (Default, Default_file, 3PAR1 & 3PAR2) with block and file driver combination.
2) Install etcd, plugin and enable plugin.
3) Remove

[2019-05-23 10:13] sandesh-desai opened #621 "File Persona: Negative testing:Plugin gets enable after Specifying file driver in both [DEAFULT] and [DEAFULT_BLOCK]"
File Persona: Negative Testing:Plugin gets enable after Specifying file driver in both [DEAFULT] and [DEAFULT_BLOCK]

Testbed Details:
Host:192.168.68.33
Host OS: NAME="CentOS Linux" VERSION="7 (Core)"
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT] and 192.168.67.6 [DEFAULT_BLOCK]

Steps as follows:
1) Update hpe.conf with file driver in both backend [DEAFULT] and [DEAFULT_BLOCK]

[2019-05-23 17:36] sbhaita opened #622 "Support for mutliple instances of Doryd in a multi-master environment"
we need support for multiple instances of doryd services for a multi-master K8S Cluster environment. With multiple instances of doryd services running on multiple masters , we see that the persistence volumes go into "Terminating" Status...

# k get pv
NAME                                          CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS        CLAIM                STORAGECLASS   REASON

[2019-05-24 08:35] virendra-sharma commented on #595
It is also observed that if we create series of share on host and remove all then after last share delete, fpg get's deleted from backend. but if we create single share(Default_Share) with default fpg then fpg not delete after removal of corresponding share(Default_Share).

[2019-05-27 05:52] nilangekarss commented on #595
@virendra-sharma PR #617 addresses this issue. If there are no stores on the FPG, FPG will be deleted. Here if the FPG is legacy FPG then also this FPG gets deleted. But, it should not delete the legacy FPG. This new behavior will be addressed in next PR. Please make a note of it.

Currently it should successfully remove FPG for above scenario.

[2019-05-27 07:05] c-raghav opened #623 "Unable to mount the volumes in virtualized environment, failing with errors."
[dcvLogs.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3222231/dcvLogs.txt)

[systool-Output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3222238/systool-Output.txt)

Observation:

Unable to mount the volumes in virtualized environment, failing with errors.

Driver Version:

Docker Plugin 3.1

Setup Details:

The environment is built on Windows HyperV with 3P

[2019-05-27 10:21] prablr79 commented on #619
@aironfonteles any update on this bug ? did you get a chance talk to the  customer  get some logs for us ?

[2019-05-27 22:05] aironfonteles commented on #619
1 - can you provide exact steps (preferably with sample yaml files, container logs from individual nodes, etc.)

This yaml file is deployed as a “stack” in swarm via UCP UI.  Here is the yaml file.
`version: '3'
services:
  mysql:
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=some pass
    volumes:
      - Docker-Vol-02:/var/lib/mysql
    deploy:
      replicas: 1
      restart

[2019-05-28 06:42] sandesh-desai commented on #595
Closing this issue as FIXED.
Attaching the logs.
[Docker and 3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3225945/Docker.and.3PAR.output.txt)

[2019-05-28 06:42] #595 closed

[2019-05-28 08:44] sandesh-desai commented on #621
Closing this issue as FIXED.
Attaching the logs.
[Docker and 3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3226414/Docker.and.3PAR.output.txt)

[2019-05-28 08:44] #621 closed

[2019-05-28 08:51] sandesh-desai opened #625 "File Persona: legacyvolumeplugin: ACLs: Unable to create a share to a particular owner/group with specific permissions."
File Persona: legacyvolumeplugin: ACLs: Unable to create a share to a particular owner/group with specific permissions.

Testbed Details:
Host:192.168.68.42
Host OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT]

Steps as follows:

1) Create a share with fsMode and fsOwner
[root@CSSOSBE03-B03 ~]# docker volume create -d hpe --na

[2019-05-28 20:02] aironfonteles commented on #619
The problem appears to be an issue with the volume itself.

- Plugin updated to version 3.1 on all nodes (This did not solve the problem)
- New volume named Docker-Vol-03 created with the following command:
        docker volume create -d hpe --name Docker-Vol-03 -o replicationGroup=BH-PP-RCG-Docker -o size=500 -o provisioning=thin
- The new volume appears to be working “somewhat” as expected

[2019-05-29 05:23] sandesh-desai commented on #610
Closing this issue as FIXED.
Attaching the logs.
[Docker and 3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3230887/Docker.and.3PAR.output.txt)

@virendra-sharma : Please close this bug.

[2019-05-29 06:56] virendra-sharma opened #631 "Share created with VFS IP which is already in use or unavailable, whereas in backend VFS is in degraded status"
Updated backend node IP (showfs -net) in "hpe3par_server_ip_pool" parameter of hpe.conf and created share. Share created with provided IP but in backend VFS goes in degraded status.

**Observation:-**
1) There is mismatch of VFS, in 3PAR it is in degraded state, whereas in share inspect it is showing VFS ip allocated.
2) showtask in 3PAR shows failure to associate IP with VFS, but in share inspect

[2019-05-29 06:58] nilangekarss commented on #618
@sandesh-desai Can you please retest this and check the output.
Is mount working on RHEL and Ubuntu?

[2019-05-29 07:02] virendra-sharma opened #632 "File persona: plugin allow to create share with another fpg & vfs, where as only single ip provided in "server ip pool""
Give single ip in "hpe3par server ip pool" parameter and created default fpg, vfs. now try to create second fpg & vfs through share creation, share goes in creating state.

**Expectation:-**
1) Since single ip provided in "server ip pool", it should allow to create only one fpg and vfs through share.
2) Share which try to create another fpg, vfs should goes in failed status or gives error.

**Obse

[2019-05-29 09:35] virendra-sharma commented on #610
Closing with reference of above comment.

[2019-05-29 09:35] #610 closed

[2019-05-29 10:29] virendra-sharma commented on #620
Verified and it is working now.

Please find below output for the same.
[code]

[2019-05-29 10:29] #620 closed

[2019-05-29 11:34] sandesh-desai opened #633 "File Persona: legacyvolumeplugin: ACLs:Share created for the user and group with valid type, flag, and invalid permissions"
File Persona: legacyvolumeplugin: ACLs:Share created for the user and group with valid type, flag, and  invalid permissions.

Steps as follows:

1) Create a share with fsMode and fsOwner with valid type, flag, and  invalid permissions.
docker volume create -d hpe --name Default_Share10 -o filePersona -o fsOwner="1000:1000" -o fsMode="A:p:rwxcTtC,A:fdg:rwax,D:fdS:BZ"
2) Inspect the share
docker vol

[2019-05-30 06:07] prablr79 commented on #618
This working fine in Ubuntu and RHEL, waiting for SLES update from Sandesh

[2019-05-30 08:26] sandesh-desai commented on #618
On SLES also facing same mounting issue.
Attaching the docker output:
[docker output of mount.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3236116/docker.output.of.mount.txt)

[2019-05-30 09:22] virendra-sharma commented on #609
Verified for block and file, inspect showing relevant info.

[code]

[2019-05-30 09:22] #609 closed

[2019-05-30 09:24] virendra-sharma commented on #606
All usecases to bring share in failed state are getting stuck at share creating state, hence unable to verify this issue.
I will verify bug once fix for "share stuck at creating" state gets merged.

[2019-05-30 10:15] sandesh-desai commented on #618
Install managed plugin on same CentOS (192.168.68.33) and mount the share successfully.
Attaching the logs:
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3236521/Docker.output.txt)
[messages_file.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3236522/messages_file.txt)

[2019-05-30 11:14] sandesh-desai opened #635 "File Persona: legacyvolumeplugin:Validation of Default FPG size limit."
File Persona: legacyvolumeplugin:Validation of Default FPG size limit.

Testbed Details:
CSSOSBE03-B01:~ # cat /etc/os-release
NAME="SLES"
VERSION="12-SP3"
VERSION_ID="12.3"
PRETTY_NAME="SUSE Linux Enterprise Server 12 SP3"
ID="sles"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:suse:sles:12:sp3"

Docker details:

CSSOSBE03-B01:~ # docker version
Client: Docker Enterprise Edition (EE) 2.0
 Version:      17.0

[2019-05-30 14:28] imran-ansari commented on #635
This has been fixed as part of pull request https://github.com/hpe-storage/python-hpedockerplugin/pull/629 which is being reviewed.

[2019-05-31 07:11] virendra-sharma opened #636 "File Persona: Inconsistent error message for volume create"
While creating volume with -o backend as file backend getting inconsistent error message.

**Config file have backend as :**
DEFAULT
DEFAULT_FILE

**Command:**
docker volume create -d hpe --name volume1 -o backend=DEFAULT_FILE

**Error:**
Error response from daemon: create volume1: Backend: DEFAULT_FILE not present in config.

**Expectation:-**
1) It should be same error which is displaying in cas

[2019-05-31 08:42] prablr79 commented on #618
OpenShift  3.10 environment verified by Dev its working. @sandesh-desai ask to verify RHEL legacy plugin to verify and come back with results.

[2019-05-31 11:18] virendra-sharma opened #637 "File persona: Share from different host get's created in same fpg, despite having different etcd and cpg"
Share creation from different host having separate etcd and cpg are done in same fpg but reflects separate cpg details in volume inspect .

**Observation:**
1) Share creation at same time from different host having different etcd and cpg get's created in same fpg.
2) FPG was based on host1 cpg, who started process first.
3) Host2 can see fpg details in docker inspect with it's own cpg details.
4)

[2019-05-31 11:21] imran-ansari commented on #637
This has been fixed... to be made available in next build.

[2019-05-31 11:24] imran-ansari commented on #636
This has been fixed. To be available in next build.

[2019-05-31 11:30] imran-ansari commented on #605
Why is this high when it is harmless to specify Block configuration parameters under File backend section and vice-versa?

I would put this at low severity.

[2019-05-31 16:58] imran-ansari opened #638 "File Persona: IPs in use to be obtained from 3PAR"
Since the plugin supports multiple hosts each having its own ETCD, the truth about IPs in use can only be obtained from 3PAR rather than depending on ETCD

[2019-05-31 17:19] imran-ansari commented on #638
This has been fixed in PR https://github.com/hpe-storage/python-hpedockerplugin/pull/639 which has been submitted for review

[2019-05-31 17:20] imran-ansari commented on #637
Fixed as part of PR https://github.com/hpe-storage/python-hpedockerplugin/pull/639 which has been submitted for review

[2019-05-31 17:20] imran-ansari commented on #636
Fixed as part of PR https://github.com/hpe-storage/python-hpedockerplugin/pull/639 which has been submitted for review

[2019-06-03 06:52] sandesh-desai commented on #618
Invalid Bug as "/opt/hpe/data:/opt/hpe/data:rshared" parameter was missing on docker-compose.yml .
Updated docker-compose.yml and mount share successfully.

Attaching the logs:
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3246212/Docker.output.txt)

[2019-06-03 06:52] #618 closed

[2019-06-03 10:13] sandesh-desai commented on #633
Closing this issue as FIXED.
Attaching the logs.
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3247035/Docker.output.txt)

[2019-06-03 10:13] #633 closed

[2019-06-03 10:23] sandesh-desai commented on #635
Closing this issue as FIXED.
Attaching the logs.
Docker output.txt
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3247061/Docker.output.txt)

[2019-06-03 10:23] #635 closed

[2019-06-03 15:48] virendra-sharma commented on #631
Share creation after updating used IP from showfs -net gives specific error now and share goes in failed state.

[code]

@sandesh-desai please check in containerized platform and provide input so that will close this issue as resolved.

[2019-06-03 15:49] aironfonteles commented on #619
Hello @prablr79
Do you have any updates/feedback on this?
Thanks in advance!

[2019-06-03 15:50] virendra-sharma commented on #606
Able to delete failed share gracefully now.

[code]

[2019-06-03 15:50] #606 closed

[2019-06-03 16:02] virendra-sharma commented on #632
Now plugin not allow to create another fpg,vfs, if we provide only single IP in config file. Instead it provide specific error "IP exhausted".

Below output for second fpg,vfs creation after giving single ip in config file.

[code]

@sandesh-desai please verify same in containerized platform so that will close this issue as resolved.

[2019-06-03 16:11] virendra-sharma commented on #636
Getting appropriate error message now "Error response from daemon: create volume1: Backend DEFAULT_FILE is reserved for File Persona. Cannot specify it for Block operations."

@imran-ansari just for clarification, we getting appropriate error message but i thing message is not consistent with block operation for same use case.
[code]

Can we get both operation error message consistent or else let

[2019-06-04 05:28] sandesh-desai commented on #631
Closing this issue as FIXED.
Attaching the logs.
[3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3250653/3PAR.output.txt)
[Docker output CentOS.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3250654/Docker.output.CentOS.txt)

@virendra-sharma  please close the bug.

[2019-06-04 05:29] virendra-sharma commented on #631
Closing as per above comments.

[2019-06-04 05:29] #631 closed

[2019-06-04 05:43] sandesh-desai commented on #625
Closing this issue as FIXED.
Attaching the logs.
[docker and 3par data.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3250700/docker.and.3par.data.txt)

[2019-06-04 05:43] #625 closed

[2019-06-04 06:24] wdurairaj opened #640 "POD mount with filepersona enabled PVC's fail with chcon error"
Looking at the dory logs, the `chcon` is failing with an error and bind mount is failing with rc=1 (exit code)
[code]

[2019-06-04 06:28] sandesh-desai commented on #636
Closing this issue as FIXED as Getting appropriate error message now:

[root@CSSOSBE03-B03 ~]# docker volume create -d hpe --name volume1 -o backend=DEFAULT_FILE
Error response from daemon: create volume1: Backend DEFAULT_FILE is reserved for File Persona. Cannot specify it for Block operations
[root@CSSOSBE03-B03 ~]#

[2019-06-04 06:57] imran-ansari commented on #636
@virendra-sharma - Following are the messages that are seen for the reserved backend names "DEFAULT_BLOCK" and "DEFAULT_FILE" if they are used incorrectly which is consistent:
[code]
As far as specifying any other regular backend which is not defined for Block or File will result in the following error which I think appropriately and adequately conveys the problem:
[code]

[2019-06-04 08:01] virendra-sharma commented on #636
Thank You @imran-ansari, Agreed with above clarification.
Closing this issue as resolved now.

[2019-06-04 08:01] #636 closed

[2019-06-04 08:15] virendra-sharma commented on #637
Getting error from host2, if trying to create same fpg at same time with different host and etcd.
FPG creation failed on second host, which was exepetced result hence closing this issue.

[code]

[2019-06-04 08:15] #637 closed

[2019-06-04 09:24] sandesh-desai commented on #589
Verified with the latest build  and its working as expected.
Attaching the logs
[3PAR data.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3251311/3PAR.data.txt)
[docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3251312/docker.output.txt)
[hpe.conf.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3251313/hpe.conf.txt)

[2019-06-06 02:47] aironfonteles commented on #619
Hi @prablr79
Customer is complaining about not being able to delete previously created volumes.

Any help will be greatly appreciated!

Thanks in advance!

[2019-06-06 04:15] sandesh-desai commented on #607
Verified and working as expected.
Attaching the logs:
[3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3259964/3PAR.output.txt)
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3259965/Docker.output.txt)
[Mesasges file.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3259966/Mesasges.file.txt)

@nilangekarss : Please close

[2019-06-06 05:19] prablr79 commented on #619
@aironfonteles we are investigating this bug now, will sure revert with our observations.

[2019-06-06 05:54] prablr79 commented on #619
@aironfonteles do you have setup which can be shared with us ? for investigation ? if yes can you share the details please ? send the details in prasanna.m@hpe.com email address.

[2019-06-06 08:42] tfritzenwallner opened #641 "Kubernetes worker node looses mounts after reboot and plugin can't reestablish them"
Versions:
OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Kernel: 3.10.0-957.5.1.el7.x86_64
Rancher: v2.1.7
Kubernetes: v1.13.4
docker.io/hpestorage/legacyvolumeplugin:3.1
dory_installer_v31
docker: 1.13.1

Behavior:
After a restart of a host with the legacyvolumeplugin installed mountpoints which have been created by the plugin are not present anymore, because they were just added in runt

[2019-06-06 09:08] prablr79 commented on #641
similar to #433 , bug was closed based on the DER completion, will investigate and get back.

[2019-06-06 09:19] sandesh-desai commented on #632
Verified and working as expected.

[root@CSSOSBE03-B03 ~]# docker volume create -d hpe --name sandesh-share2 -o filePersona -o fpg=SSD
sandesh-share2
[root@CSSOSBE03-B03 ~]# docker volume inspect sandesh-share2
[
    {
        "Driver": "hpe",
        "Labels": {},
        "Mountpoint": "/opt/hpe/data/hpedocker-sandesh-share2",
        "Name": "sandesh-share2",
        "Options": {
            "fi

[2019-06-06 09:35] tfritzenwallner commented on #641
Thanks!

Please contact me if you need additional information!

[2019-06-06 10:01] virendra-sharma commented on #632
closing as per above comments.

[2019-06-06 10:01] #632 closed

[2019-06-06 10:51] prablr79 commented on #641
@tfritzenwallner can you identify yourself ? email id ?

[2019-06-06 11:04] tfritzenwallner commented on #641
You can contact me with: tfritzenwallner@eurofunk.com. Please confirm once you copied it, because i want to delete the message afterwards

[2019-06-06 11:13] wdurairaj commented on #641
@tfritzenwallner i have deleted your personal email id on this bug , we have noted down the email id

[2019-06-06 11:25] wdurairaj commented on #641
@tfritzenwallner , if you are creating a kubernetes resource `kind: Pod` it is expected the pod will not high availability in case of worker node failure. Preferred way will be do a `kind: Deployment` which will ensure, if a kubernetes node failure occurs (both abrupt shutdown/evacuation), the pod stays in running state. Movement of pod (let's say pod1) will be initiated by kubernetes master from

[2019-06-06 11:30] tfritzenwallner commented on #641
Hello,

i know. We are using stateful set with 3 different kinds of databases and kubernetes still tries to start the pod again on the same node after restart. And in this case the volume plugin runs in the described error. We also tried to drain the affected node and force kubernetes to move the stateful set to a different node but still we get mounting errors of the volume plugin.

I will do fur

[2019-06-06 12:19] tfritzenwallner commented on #641
i have tested following:

* Had a pod of a stateful set deployed to node 2 which was mounting volume: 3par-7d1c178d-76ec-11e9-ad47-00155d35cb1e
* Reboot of node 1 and node 2
* logs of legacyvolumeplugin showed the above described duplicate message and kubernetes logged :

`
Unable to mount volumes for pod "rabbitmq-0_eocs-hessen-ref(20fff577-8850-11e9-ad47-00155d35cb1e)": timeout expired waiting f

[2019-06-06 12:53] tfritzenwallner commented on #641
In case of a node gets restartet and looses its mounts, shouldn't the plugin try to reestablish the mount in this section https://github.com/hpe-storage/python-hpedockerplugin/blob/v3.1/hpedockerplugin/volume_manager.py#L1204  instead of irgnoring it ?

[2019-06-07 02:57] sandesh-desai commented on #597
Verified and working as expected.
Attaching the logs:
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3264224/Docker.output.txt)
[messages file.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3264225/messages.file.txt)
[3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3264226/3PAR.output.txt)

[2019-06-07 02:57] #597 closed

[2019-06-07 04:46] nilangekarss commented on #607
@sandesh-desai As per Sandesh comment closing this bug.

[2019-06-07 04:46] #607 closed

[2019-06-07 04:46] nilangekarss commented on #589
@sandesh-desai As per Sandesh verification closing this bug.

[2019-06-07 04:46] #589 closed

[2019-06-07 09:08] sneharai4 opened #642 "Rancher: Update docs for cluster config"

[2019-06-07 09:09] sneharai4 opened #643 "Update docs for new node addition in hosts file for ansible installer"

[2019-06-07 09:09] sneharai4 commented on #643
@bhagyashree-sarawate  Please work on this.

[2019-06-07 10:14] tfritzenwallner commented on #641
I restested again after clearing up all workloads and 3par and following happend:

I deployed fresh redis stateful set with 6 pods on an cluster with 2 worker nodes. Those are getting even distributed.
![image](https://user-images.githubusercontent.com/51438921/59094145-d3aa9080-8915-11e9-8245-f337c38a2d55.png)

These nodes claim their storage via a volumeclaim template in the stateful set yaml.

[2019-06-07 10:46] virendra-sharma opened #644 "File persona: share stuck in creating state with error of max size of fpg exhausted on node"
Tried to create share with default fpg of size 65TB. Since we have one node pair array, we allow to create 256TB fpg on it.
For my current case 180TB space is being used by fpg but still share stuck at creating state.

**Error in log:-**
[code]

**Output:-**
[code]

It is also observed that shares stuck in creating state is not allowed to delete, gives error as below.
[code]

[conf file.txt](https

[2019-06-07 14:41] wdurairaj commented on #641
@tfritzenwallner , when pods are spawned via StatefulSet, and if the node where these pods are scheduled are shut down, i expect the kubernetes to move them to a different live node. This behaviour is true with `kind: Deployment`

This behaviour was noticed in plain kubernetes/Openshift version. Are you by any chance running on top of Rancher ? I guess this could be a bug on the Orchestrator itsel

[2019-06-07 14:43] wdurairaj commented on #641
Could be related to https://github.com/hpe-storage/python-hpedockerplugin/issues/567

[2019-06-07 16:27] kfeh commented on #641
Hi,

Pods not automatically rescheduling in sratefulset is
expected and defined behaviour, look at this:

https://github.com/kubernetes/kubernetes/issues/54368#issuecomment-339378597

I'm a collegue of tfritzenwallner and we rapidly need to fix this issue!

Thanks to all of you!

[2019-06-09 09:37] imran-ansari commented on #644
@virendra-sharma , please attach the log file and hpe.conf as well. Thx.

[2019-06-09 16:03] virendra-sharma commented on #644
@imran-ansari I have attached log and conf file.

[2019-06-10 08:54] leenaj0hn commented on #592
closing this issue:
CPG of the legacy FPG should be different from the default CPG passed in hpe.conf.
This executions hangs at "Creating" state

[2019-06-10 08:54] #592 closed

[2019-06-10 08:57] leenaj0hn commented on #601
closing this issue, wrong workflow. Closing this issue

[2019-06-10 08:57] #601 closed

[2019-06-10 09:57] sandesh-desai commented on #614
Verified and working as expected.
Attaching the logs:
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3271488/Docker.output.txt)
[hpe.conf.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3271489/hpe.conf.txt)

[2019-06-10 11:57] sandesh-desai commented on #600
Not able to re-produce the issue.
Now Fpg creation is as per expected, while creating a share from different host,different FPG name is creating successfully.
Attaching the output:
[3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3271941/3PAR.output.txt)
[Share creation host1.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3271942/Share.creation.host1.

[2019-06-10 13:24] imran-ansari commented on #600
Based on the above observation closing this issue.

[2019-06-10 13:24] #600 closed

[2019-06-10 15:46] nilangekarss opened #646 "pod deletion for file share goes in a terminating state after deleting the pod in OpenShift and K8S environment."

[2019-06-10 15:50] nilangekarss commented on #646
YAML files for pod creation:
[code]

[2019-06-10 15:56] aironfonteles commented on #619
@prablr79 Unfortunately, I don't have any test setup to share with you. Do you have any tips on what can we do in order to investigate why customer is not able to delete volumes?
Thanks in advance!

[2019-06-11 03:05] wdurairaj commented on #646
@nilangekarss , pvc name is `pvcfile-sandesh6` but pod references `pvcfile-sandesh5` .. I was able to create a pod successfully and delete that in the same environment.. Can you confirm once more ?

[2019-06-11 03:08] wdurairaj commented on #641
Actually the root cause of this issues, is the k8s does'nt move the pod after a worker node reboot. We don't have to do anything on the volume plugin side, and based on the previous update by @kfeh , i'm closing this issue.

[2019-06-11 03:10] wdurairaj commented on #640
Actually running the pod in privileged mode allows data writes on the exported location

[code]

[2019-06-11 03:12] wdurairaj commented on #584
@prablr79, please remove the Fixed label. This is not fixed yet.

[2019-06-11 03:14] wdurairaj commented on #614
Closing this issue based on @sandesh-desai update.

[2019-06-11 03:14] #614 closed

[2019-06-11 04:35] kfeh commented on #641
You cannot close this!
The behaviour of k8s is correct! Your plugin has to deal with this situation!

One solution could be to check if the volume is really really mounted on the rebooted host and otherwise just mount it.

[2019-06-11 04:37] prablr79 commented on #584
@wdurairaj this was communicated in Bug scrub, no problem removing Fixed tag since this needs a fix will again look into the bug scrub meeting during current sprint cycle.

[2019-06-11 04:38] kfeh commented on #641
For the plugin there must not be any difference if the pod is rescheduled on the same or another host!

[2019-06-11 05:04] nilangekarss commented on #646
@wdurairaj Hi William I am not able to create pod in such case which you mentioned.
POD remains in pending state in such case if PVC doesn't exist.
Here is the output for same:
[code]

[2019-06-11 06:59] tfritzenwallner commented on #641
K8s will  not move the pod of a StatefulSet to another node because a StatefulSet is supposed maintain the nodes even if one node gets shutdown.

Here the description of Kubernetes : https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

Quote of the referenced site:

So this is definitely a bug of your plugin!

[2019-06-11 07:23] wdurairaj commented on #641
We will do further analysis and get back to you.

[2019-06-11 08:38] sandesh-desai commented on #644
Same issue appeared after creating 16 shares on same node. while creating 17th share it got stuck at creating state,as array capacity reach to maximum capacity of 256.

Attaching the logs.
[3PAR.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3275472/3PAR.txt)
[Message file.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3275473/Message.file.txt)

[2019-06-11 12:17] sonawane-shashikant commented on #613
Verified this issue as FIXED and can be closed.

Below steps are followed to verify this issue.
1. Created PV with size, name and filePersona parameters
2. Created PVC and storage size is give as 2048 Gib
3. Created POD
4. POD is seen in Running state.
5. Inspected docker for the size.
6. Size is verified as 2048 Gib

YAMLs -
[root@master-node YAML]# cat PV-SHARE.yaml
---
apiVersion: v1
kind: Pers

[2019-06-11 12:17] sonawane-shashikant commented on #613
@wdurairaj @prablr79 Please close this issue.

[2019-06-11 12:19] #613 closed

[2019-06-11 14:31] virendra-sharma opened #647 "File persona: inconsistent mountpath of share and unexpected behaviour after updating wrong IP in "host_ip_address""
**Observation: -**
1) Mount path in containerized platform is invalid after un-mounting particular share. it shows only "[".
2) If wrong "host_ip_address" passed in config file, it allow to create and mount volumes of different host sharing same etcd. but after un-mounting share from host(have wrong entry of host), share mount for other host get hanged and in 3PAR share, FPG, VFS get's deleted. wh

[2019-06-12 05:05] sandesh-desai commented on #638
Verified and working as expected.
Attaching the logs:
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3279637/Docker.output.txt)
[Messages file.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3279638/Messages.file.txt)
[3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3279639/3PAR.output.txt)

[root@CSSOSBE03-B03 ~]# dock

[2019-06-12 05:05] sandesh-desai commented on #638
@imran-ansari   please verify and close the bug.

[2019-06-12 08:35] leenaj0hn opened #648 "Deleting the last share does not delete Vfs and fpg post mount and unmount of share"
steps
1. docker volume create -d hpe --name demo_share -o filePersona
Creates the default fpg, vfs and share successfully
2. docker run -it --rm --mount src=demo_share,dst=/data,volume-driver=hpe --name CONT-01 alpine /bin/sh

On the container created a file and exit
Share was unmounted and container removed
3. docker volume rm demo_share
This deletes only the file share, does not removed the FPG

[2019-06-12 10:12] c-raghav opened #649 "Mounting volume fails on FCoE envi, due to the protocol type FC"
Observation:
----------------
Mounting volume fails on FCoE environment,due to the protocol type - FCOE not being available

Setup Details:

The setup does have two arrays attached, one with FC with one of the Merlin array (15.213.71.140)and
this setup was being used for google cloud POC, and using the same setup with FCoE with slight modification of
hpe.conf files, where we have modified/added fo

[2019-06-12 10:29] wdurairaj commented on #649
Right now, the FC Driver reads port of transport type FC only , that seems to the be cause after the initial analysis

https://github.com/hpe-storage/python-hpedockerplugin/blob/plugin_v2/hpedockerplugin/hpe/hpe_3par_common.py#L387

[2019-06-12 10:40] wdurairaj commented on #649
Change required is
[code]

[2019-06-12 19:08] imran-ansari commented on #648
@leenaj0hn - Could you please attach the logs?

[2019-06-13 04:16] nilangekarss commented on #647
@virendra-sharma I understood the first point. Can you elaborate what is "host_ip_address" field in hpe.conf refers to?

[2019-06-13 04:18] nilangekarss commented on #647
@virendra-sharma fixing #646 will fix the mount point issue of inspecting a share.

[2019-06-13 05:10] imran-ansari commented on #648
@leenaj0hn - another thing is that when you delete the last share, the FPG, VFS, FSTORE delete happens asynchronously on a child thread. I hope you have not missed that.

[2019-06-13 05:17] virendra-sharma commented on #647
@nilangekarss I had used it for file testing, I think it shores host IP.
If it is not required then wrong value should not impact plugin behavior. I case it causes issue then it need to be validated while enabling plugin.

[2019-06-13 07:16] imran-ansari commented on #647
host_ip_address is not a supported configuration parameter. It was included so that we could add it to the NFS client list for that host to be able to access the share. But after the first demo, on Eric's suggestion, we decided the plugin needs to fetch the Docker host IP address programmatically and use it to add to NFS client list. As a result, this parameter was removed.
If you specify it, it s

[2019-06-13 13:00] wdurairaj commented on #641
Thanks for your PR , we will review this.

[2019-06-14 05:56] virendra-sharma commented on #647
@imran-ansari I have observed negative impact due to wrong entry of host_ip_address parameter. we can discuss on it.

[2019-06-14 05:59] sandesh-desai opened #652 "Upgrade Testing:Plugin upgrade 3.0 to 3.2 failed."
Upgrade Testing:Plugin upgrade 3.0 to 3.2 failed.

Testbed Details:
Host:192.168.68.33
Host OS: CentOS
Docker Version: 17.06.2-ee-21
3PAR array: 192.168.67.7 [DEFAULT].

Steps perform:

1) Install old plugin 3.0.
2) Enable plugin successfully.
3) Upgrade plugin 3.2 by using below command:
docker plugin upgrade hpe hpestorage/hpedockervolumeplugin:3.2-prerelease

It gives below error messages:
[roo

[2019-06-14 08:01] leenaj0hn commented on #648
2019-06-14 07:17:11,167 [INFO] hpedockerplugin.file_backend_orchestrator [140636372319112] MainThread Fetching share details from ETCD: TestDelete
2019-06-14 07:17:11,168 [DEBUG] etcd.client [140636372319112] MainThread Issuing read for key /shares/TestDelete with args {}
2019-06-14 07:17:11,170 [INFO] hpedockerplugin.etcdutil [140636372319112] MainThread Key not found ETCD: [key=/shares/TestDelet

[2019-06-14 08:06] leenaj0hn commented on #648
logs: could not paste the file here.  So pasted the snippet. Also the curl commands gave a "Network" error.

Created it on default FPG itself, but ensured that DockerFpg_0 have only one share( the share I created remaining)
So final output on the array looks like this
CSSOS-SSA06 cli% showfpg
                                 ------(GiB)-------
FPG             ---Mountpath---- --Size-- Available Ac

[2019-06-14 09:16] sandesh-desai opened #653 "File Persona: Share creation in an incorrect FPG"
File Persona: Share creation in an incorrect FPG

Testbed Details:
Host:192.168.68.31
Host OS: "SUSE Linux Enterprise Server 12 SP3"
Docker Version: 17.06.2-ee-20
3PAR array: 192.168.67.6 [DEFAULT] & [3PAR]

Steps perform:
1) Hpe.conf have "DEFAULT" and Additional backend as "3PAR".Both have same configuration.
2) Create share1 and share2 by using additional backend as "3PAR"
3) Create share3 by u

[2019-06-17 05:43] sandesh-desai opened #654 "File Persona: Share gets created in same Fpg even after size limit exhausted 16TB"
File Persona: Share gets created in same Fpg even after size limit exhausted 16TB.

Testbed Details:
Host:192.168.68.43
Host OS: ""Red Hat Enterprise Linux Server""
Docker Version: 17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT] & [3PAR]

Steps perform:

1) Hpe.conf have "DEFAULT" and Additional backend as "3PAR".Both have same configuration with only 1 IP in server_ip_pool.
2) Create share on ba

[2019-06-17 07:12] imran-ansari commented on #653
This is an expected behavior - despite pointing to the same array, these are two different backends, hence the default FPG names won't be shared by them and this is by design.
It is expected that for File driver, there will always be one and only one backend entry in the configuration file for a given array.
However, if the user still insists on having different backend entries for a given array t

[2019-06-17 07:15] prablr79 commented on #640
@nilangekarss is this real fix going as part of 3.2 ?

[2019-06-17 09:06] imran-ansari commented on #638
Based on the above verification steps, closing this issue.

[2019-06-17 09:06] #638 closed

[2019-06-18 05:28] imran-ansari commented on #648
@leenaj0hn - Can u please clean up your ETCD and try this again?

[2019-06-18 05:37] virendra-sharma opened #656 "File persona: share creation failed with error "too many file store, can't create file store""
**Observation: -**
1) File share creation failed when trying to create bulk shares in same fpg.
2) On 3PAR only 16 fstore present but still share creation failed with fstore error.

**Steps: -**
1) Created share with default fpg of size 64TB.
2) Tried to create multiple share on default fpg, getting error after some share creation.

**Output: -**
[code]

[fstore error.txt](https://github.com/hpe-s

[2019-06-18 08:58] sonawane-shashikant opened #657 "File Persona: Error in -o help=backends -o filePersona"
When we try to install plugin with incorrect driver, plugin goes into restarting state and help shows error.

Test Bed - SLES
CSSOS-SSA06 cli% showversion
Release version 3.3.1 (MU3)
Patches:  None
Component Name                   Version
CLI Server                       3.3.1 (MU3)
CLI Client                       3.3.1
System Manager                   3.3.1 (MU3)
Kernel

[2019-06-18 15:21] aironfonteles commented on #619
@prablr79

On messages file, I found the following errors:

`Jun 17 15:13:57 dockerw3 dockerd: time="2019-06-17T15:13:57-06:00" level=info msg="2019-06-17 21:13:57.630 20 ERROR hpedockerplugin.etcdutil [-] Name: Docker-Vol-02 is already locked: etcd.EtcdAlreadyExist: Key already exists : /volumes-lock/Docker-Vol-02" plugin=e415d041d13b331b944d8e2afba01a2de530bfa6e1773badb576bbe5c0cc83e8
Jun 17 15:

[2019-06-19 06:12] prablr79 commented on #656
@virendra-sharma can you try directly in 3par and observe the results ? and revert ?

[2019-06-19 06:15] prablr79 commented on #657
@wdurairaj similar error found during Managed plugin CHO run.

[2019-06-20 06:24] virendra-sharma opened #659 "Block volume operations failing in latest build, causing CI failure"
**Observation: -**
1) Volume mount failing with timeout error, please find error below.
2) It is observed that after mount failure, volume, snapshot & clone creation also fails intermittently.
3) In case volume mount pass, it will fail to mount it's snap volume.
4) Failure error of mount says "volume name must be unique", it is inappropriate error message.

**Steps: -**
1) create block volume and

[2019-06-20 14:27] jamesDeng opened #660 "Docker and kubernetes version consulting"
Hello, can you support docker 18.06.3-ce and kubernetes v1.14.1?

[2019-06-21 12:48] sandesh-desai opened #661 "File Persona: Help contents need correction"
Attached is the corrected help content.
Corrected section is highlighted in the attached document.
[Corrected help contents.docx](https://github.com/hpe-storage/python-hpedockerplugin/files/3314502/Corrected.help.contents.docx)

[2019-06-21 18:21] wdurairaj commented on #619
We are investigating this issue, but wanted to quickly provide you a way to delete the volume stuck in deletion.

Do

1. `$ docker volume inspect Docker-Vol-03`
2. Take volume name in `3par_vol_name` attribute, and in the connected 3PAR array
3. showvlun -v `vol_name`
4, removevlun -f for the LUN(s) involved in step 3
5. Now issue `docker volume rm Docker-Vol-03`

[2019-06-24 04:52] prablr79 commented on #659
@imran-ansari any update on this ?

[2019-06-24 04:54] prablr79 commented on #660
@jamesDeng Please work with our Product management for any new supportability. we will consider this request as enhancement.

[2019-06-24 04:55] prablr79 commented on #661
@sandesh-desai last release we have changed a file which will directly taken up as help content file, please feel free to modify the same. and raise PR for review.  work with Imran on this request.

[2019-06-24 09:04] sonawane-shashikant opened #663 "Docker 3.2: ACL: Share mount fails with -o fsMode="U:fdpiS:rwxTCy,U:fdiSg:rwxTCy,U:fdiS:DtnNcy""
Unable to mount the share which is created by the below command
    docker volume create -d hpe --name share98 -o filePersona -o fsOwner="1000:1000" -o fsMode="U:fdpiS:rwxTCy,U:fdiSg:rwxTCy,U:fdiS:DtnNcy"

Whereas, able to mount the share which are created by the below command (Tc-100495807_FS_206)
    docker volume create -d hpe --name Default_Share04  -o filePersona -o fsOwner="1000:1000" -o fsM

[2019-06-24 09:31] imran-ansari commented on #652
Tried this out on my Ubuntu setup and the upgrade just went fine. Possibly OS specific issue.
[code]

[2019-06-24 09:55] prablr79 commented on #652
@imran-ansari Thanks, Great relief looks like very specific.. Test Team please confirm again with Dev on is this issue specific to OS or generic upgrade issue ?

[2019-06-24 09:55] prablr79 commented on #652
Reducing to Medium since it is working in Ubuntu OS

[2019-06-25 08:01] sandesh-desai opened #664 "File Persona: Share gets deleted from docker but fpg remains in backend 3PAR"
File Persona: Share gets deleted from docker but remains in backend 3PAR

Testbed Details:
Host:192.168.68.43
Host OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Docker version:17.06.2-ee-21
3PAR array: 192.168.67.6 [DEFAULT]

Steps as follows:
1) docker volume create -d hpe --name Default_Share -o filePersona
2) docker volume create -d hpe --name Default_Share -o filePersona -o fpg=Docke

[2019-06-25 08:06] sandesh-desai commented on #664
Attaching the logs:
[Docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3324180/Docker.output.txt)
[Messages file.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3324181/Messages.file.txt)
[3par.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3324182/3par.txt)

[2019-06-25 08:32] sandesh-desai commented on #664
Verified with the latest build and working as expected.
closing the bug.
Attaching the messages file.
[Messages file.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3324295/Messages.file.txt)
[3PAR data.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3324298/3PAR.data.txt)

[2019-06-25 08:32] #664 closed

[2019-06-25 09:03] prablr79 commented on #656
@virendra-sharma can you please confirm 3par CLI is also behaving same or not ?

[2019-06-25 09:07] prablr79 commented on #648
@leenaj0hn any update on this bug ? are you still seeing this bug ?

[2019-06-25 09:34] imran-ansari commented on #663
@sonawane-shashikant - could you please check the behavior at the backend by executing 3PAR CLI?

[2019-06-25 10:00] virendra-sharma commented on #656
@prablr79 after getting this error, i tried to create manually fstore on existing fpg and found same error.
But if we allowed to create total 256 fstore on one node pair array so why are we restricting in some small number. wanted to clear this doubt.

[2019-06-25 12:13] sandesh-desai commented on #644
Verified and working as expected.
Attaching the logs.
[644_docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3325175/644_docker.output.txt)

[644_3PAR output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3325177/644_3PAR.output.txt)

[BUG_644.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3325182/BUG_644.txt)

@virendra-sharma :  Pl

[2019-06-25 12:24] sandesh-desai commented on #654
Verified and working as expected.
Attaching the logs:
[654_3par output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3325219/654_3par.output.txt)
[654_docker output.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3325220/654_docker.output.txt)
[BUG_654.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3325221/BUG_654.txt)

[2019-06-25 12:24] #654 closed

[2019-06-25 16:09] oscarnorori opened #665 "snapshots in openshift"
I have a question regarding the openshift/kubernetes plugin. Beyond being able to dynamically provision volumes, we also have a need to create a snapshot of one of those volumes and then mount that snapshot in another pod. Typical use case is needing to create a pod for production investigation purposes or for testing of a new feature with production data. The documentation does not cover how to d

[2019-06-25 16:53] wdurairaj commented on #665
You need to use `virtualCopyOf` parameter in storage class
Eg.

[code]

Complete list of parameters are there in

https://github.com/hpe-storage/python-hpedockerplugin/blob/master/docs/usage.md#supported-storageclass-parameters

[2019-06-25 16:54] wdurairaj commented on #665
Once the PVC created above gets into `Bound` state the snapshot will be taken for src volume pointed in `virtualCopyOf` and that snapshot will be used for POD mount.

[2019-06-25 17:28] oscarnorori commented on #665
Thanks for responding to my query. So basically, for any scenario where a snapshot needs to be created from a dynamically provisioned volume, a new storage class needs to be created for that volume. Then if we need to create X pods with a copy of that volume, we just need to create X pvcs that reference that specific storage class.
In terms of the list of supported storage parameters, is there ano

[2019-06-25 17:30] oscarnorori commented on #665
Please ignore my question about parameters. I found the section where it describes their use. Thanks.

From: William Durairaj <notifications@github.com>
Sent: June 25, 2019 12:54 PM
To: hpe-storage/python-hpedockerplugin <python-hpedockerplugin@noreply.github.com>
Cc: Norori, Oscar <ONorori@ifdsgroup.com>; Author <author@noreply.github.com>
Subject: Re: [hpe-storage/python-hpedockerplugin] snapsho

[2019-06-25 17:31] wdurairaj commented on #665
Complete list of -o options are there in https://github.com/hpe-storage/python-hpedockerplugin/blob/master/docs/usage.md#usage-of-the-hpe-3par-volume-plug-in-for-docker

[2019-06-25 17:32] oscarnorori commented on #665
Yes found it. Thank you.

From: William Durairaj <notifications@github.com>
Sent: June 25, 2019 1:31 PM
To: hpe-storage/python-hpedockerplugin <python-hpedockerplugin@noreply.github.com>
Cc: Norori, Oscar <ONorori@ifdsgroup.com>; Author <author@noreply.github.com>
Subject: Re: [hpe-storage/python-hpedockerplugin] snapshots in openshift (#665)

Complete list of -o options are there in https://githu

[2019-06-26 08:54] sonawane-shashikant commented on #663
Closing this issue as same behavior is seen on 3PAR as well.
Please see below output for details.

CSSOS-SSA06 cli% setfshare nfs -acl +U:fdipS:OWNER@:rwax,U:fdiSg:GROUP@:rwxTC,U
:fdiS:EVERYONE@:DtnNcy -fstore SHARE12 DockerVfs_5 SHARE12
Warning: Setting ACL permissions will break cross protocol functionality and may cause loss of modebits information.
Do you wish to continue?
select q=quit y=yes

[2019-06-27 04:45] sandesh-desai commented on #652
Setup new CentOS with docker version 18.03.1-ee-8, build 2da2ee5 and Install 3.0 and upgrade to 3.2 successfully.
Attaching the logs:
[Upgrade plugin output 3.0-3.2.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3332971/Upgrade.plugin.output.3.0-3.2.txt)

[2019-06-27 05:49] virendra-sharma commented on #644
closing as per above verification.

[2019-06-27 05:49] #644 closed

[2019-06-27 06:21] sandesh-desai commented on #652
Verified the upgrade from 3.0-3.2 and 3.1-3.2 successfully with docker 17.06 RHEL.
Attaching the logs:
[Upgrade from 3.0-3.2 on docker 17.06 successfully RHEL.txt](https://github.com/hpe-storage/python-hpedockerplugin/files/3333143/Upgrade.from.3.0-3.2.on.docker.17.06.successfully.RHEL.txt)
[Upgrade from 3.1-3.2 on docker 17.06 successfully RHEL.txt](https://github.com/hpe-storage/python-hpedocker

[2019-06-27 09:50] prablr79 commented on #622
3.2 Release is focused on roadmap, Multi master will be taken up in 3.2.1 hence moved to Medium release.

[2019-06-27 09:53] prablr79 commented on #647
@virendra-sharma can you please discuss with Imran and close this ?

[2019-06-27 10:34] sonawane-shashikant commented on #646
This is Verified as FIXED and can be closed.

Test Bed -
[root@master-node ~]# kubectl get nodes
NAME            STATUS                        ROLES    AGE   VERSION
cld13b5         NotReady,SchedulingDisabled   <none>   23d   v1.14.2
master-node     Ready                         master   23d   v1.14.2
worker-node-1   Ready                         <none>   23d   v1.14.2
worker-node-2   Ready

[2019-06-27 11:42] #646 closed

[2019-06-27 11:43] wdurairaj commented on #646
Closed based on Shashi's confirmation.

[2019-06-27 11:59] virendra-sharma commented on #656
Tried again with 30 share creation, all created without any failure. Since unable to re-produce this bug. Closing it with below share creation output.

[code]

[2019-06-27 11:59] #656 closed

[2019-06-27 12:41] sandesh-desai commented on #652
Verified and working as expected.